.u-border-radius-slight {
    border-radius: .125rem;
}

.u-border-radius-mid {
    border-radius: .5rem;
}

.u-border-radius-large {
    border-radius: 1.5rem;
}

.u-border-radius-circle {
    border-radius: 8rem;
}

.u-top-left-border-radius-slight {
    border-top-left-radius: .125rem;
}

.u-top-left-border-radius-mid {
    border-top-left-radius: .5rem;
}

.u-top-left-border-radius-large {
    border-top-left-radius: 1.5rem;
}

.u-top-left-border-radius-circle {
    border-top-left-radius: 8rem;
}

.u-top-right-border-radius-slight {
    border-top-right-radius: .125rem;
}

.u-top-right-border-radius-mid {
    border-top-right-radius: .5rem;
}

.u-top-right-border-radius-large {
    border-top-right-radius: 1.5rem;
}

.u-top-right-border-radius-circle {
    border-top-right-radius: 8rem;
}

.u-bottom-left-border-radius-slight {
    border-bottom-left-radius: .125rem;
}

.u-bottom-left-border-radius-mid {
    border-bottom-left-radius: .5rem;
}

.u-bottom-left-border-radius-large {
    border-bottom-left-radius: 1.5rem;
}

.u-bottom-left-border-radius-circle {
    border-bottom-left-radius: 8rem;
}

.u-bottom-right-border-radius-slight {
    border-bottom-right-radius: .125rem;
}

.u-bottom-right-border-radius-mid {
    border-bottom-right-radius: .5rem;
}

.u-bottom-right-border-radius-large {
    border-bottom-right-radius: 1.5rem;
}

.u-bottom-right-border-radius-circle {
    border-bottom-right-radius: 8rem;
}