.u-button {
  &:hover {
    background-color: transparent;
    background-image: url(../../images/background/stripes.svg);
  }
}

.u-button-box-drop {
  *,
  ::after {
    pointer-events: none;
  }
}
