.u-background-color-lt-tan {
    background-color: $b-lt-tan;
}

.u-background-color-lt-green {
    background-color: $b-lt-green;
}

.u-background-color-pr-blue {
    background-color: $b-pr-blue;
}

.u-background-color-lt-red {
    background-color: $b-lt-red;
}

.u-background-color-pr-purple {
    background-color: $b-pr-purple;
}

.u-background-color-white {
    background-color: $n-white;
}

.u-background-color-off-white {
    background-color: $n-off-white;
}

.u-background-color-black {
    background-color: $n-black;
}
