.u-color-lt-rose {
  color: $b-lt-rose;
}

.u-color-pr-rose {
  color: $b-pr-rose;
}

.u-color-lt-green {
  color: $b-lt-green;
}

.u-color-pr-green {
  color: $b-pr-green;
}

.u-color-dk-green {
  color: $b-dk-green;
}

.u-color-lt-blue {
  color: $b-lt-blue;
}

.u-color-pr-blue {
  color: $b-pr-blue;
}

.u-color-dk-blue {
  color: $b-dk-blue;
}

.u-color-lt-red {
  color: $b-lt-red;
}

.u-color-pr-red {
  color: $b-pr-red;
}

.u-color-dk-red {
  color: $b-dk-red;
}

.u-color-dk-purple {
  color: $b-dk-purple;
}

.u-color-white {
  color: $n-white;
}

.u-color-off-white {
  color: $n-off-white;
}

.u-color-black {
  color: $n-black;
}
