.u-drop-shadow-button {
    box-shadow: $box-shadow-button;
  }
  
  .u-drop-shadow-sharp {
    box-shadow: $box-shadow-sharp;
  }
  
  .u-drop-shadow-sharp-vertical {
    box-shadow: $box-shadow-sharp-vertical;
  }
  
  .u-drop-shadow-faint {
    box-shadow: $box-shadow-faint;
  }
  
  .u-drop-shadow-faint-vertical {
    box-shadow: $box-shadow-faint-vertical;
  }

  .u-drop-shadow-faint-vertical-right {
    box-shadow: $box-shadow-faint-vertical-right;
  }

  .u-drop-shadow-faint-vertical-left {
    box-shadow: $box-shadow-faint-vertical-left;
  }