p.u-font-type-light {
  font-weight: 400;
}

.u-font-type-medium {
  font-weight: 500;
}

.u-font-type-medium-it {
  font-weight: 500;
  font-style: italic;
}

.u-font-type-heavy {
  font-weight: 700;
}