.u-image-icon-xsmall {
  height: $spacing-shorter;
  width: $spacing-shorter;
}

.u-image-icon-small {
  height: $spacing-short;
  width: $spacing-short;
}

.u-image-icon {
  height: $spacing-medium;
  width: $spacing-medium;
} 