.u-image-icon-xsmall {
  height: $spacing-medium;
  width: $spacing-medium;
}

.u-image-icon-small {
  height: $spacing-big;
  width: $spacing-big;
}

.u-image-icon {
  height: $spacing-bigger;
  width: $spacing-bigger;
} 

.u-image-icon-xsmall-w {
  height: auto;
  width: $spacing-medium;
}

.u-image-icon-small-w {
  height: auto;
  width: $spacing-big;
}

.u-image-icon-w {
  height: auto;
  width: $spacing-bigger;
} 

.u-image-icon-xsmall-h {
  height: $spacing-medium;
  width: auto;
}

.u-image-icon-small-h {
  height: $spacing-big;
  width: auto;
}

.u-image-icon-h {
  height: $spacing-bigger;
  width: auto;
} 