.u-line-height-tightest {
    line-height: $tightest-line-height;
}

.u-line-height-tighter {
    line-height: $tighter-line-height;
}

.u-line-height-tight {
    line-height: $tight-line-height;
}

.u-line-height-slight {
    line-height: $slight-line-height;
}

.u-line-height-loose {
    line-height: $loose-line-height;
}

.u-line-height-looser {
    line-height: $looser-line-height;
}

.u-line-height-loosest {
    line-height: $loosest-line-height;
}