.u-margin-0 {
  margin: 0;
}

.u-margin-1 {
  margin: $spacing-shortest;
}

.u-margin-2 {
  margin: $spacing-shorter;
}

.u-margin-3 {
  margin: $spacing-short;
}

.u-margin-4 {
  margin: $spacing-medium;
}

.u-margin-5 {
  margin: $spacing-big;
}

.u-margin-6 {
  margin: $spacing-bigger;
}

.u-margin-7 {
  margin: $spacing-biggest;
}

.u-margin-top-0 {
  margin-top: 0;
}

.u-margin-top-1 {
  margin-top: $spacing-shortest;
}

.u-margin-top-2 {
  margin-top: $spacing-shorter;
}

.u-margin-top-3 {
  margin-top: $spacing-short;
}

.u-margin-top-4 {
  margin-top: $spacing-medium;
}

.u-margin-top-5 {
  margin-top: $spacing-big;
}

.u-margin-top-6 {
  margin-top: $spacing-bigger;
}

.u-margin-top-7 {
  margin-top: $spacing-biggest;
}

.u-margin-right-0 {
  margin-right: 0;
}

.u-margin-right-1 {
  margin-right: $spacing-shortest;
}

.u-margin-right-2 {
  margin-right: $spacing-shorter;
}

.u-margin-right-3 {
  margin-right: $spacing-short;
}

.u-margin-right-4 {
  margin-right: $spacing-medium;
}

.u-margin-right-5 {
  margin-right: $spacing-big;
}

.u-margin-right-6 {
  margin-right: $spacing-bigger;
}

.u-margin-right-7 {
  margin-right: $spacing-biggest;
}

.u-margin-bottom-0 {
  margin-bottom: 0;
}

.u-margin-bottom-1 {
  margin-bottom: $spacing-shortest;
}

.u-margin-bottom-2 {
  margin-bottom: $spacing-shorter;
}

.u-margin-bottom-3 {
  margin-bottom: $spacing-short;
}

.u-margin-bottom-4 {
  margin-bottom: $spacing-medium;
}

.u-margin-bottom-5 {
  margin-bottom: $spacing-big;
}

.u-margin-bottom-6 {
  margin-bottom: $spacing-bigger;
}

.u-margin-bottom-7 {
  margin-bottom: $spacing-biggest;
}

.u-margin-left-0 {
  margin-left: 0;
}

.u-margin-left-1 {
  margin-left: $spacing-shortest;
}

.u-margin-left-2 {
  margin-left: $spacing-shorter;
}

.u-margin-left-3 {
  margin-left: $spacing-short;
}

.u-margin-left-4 {
  margin-left: $spacing-medium;
}

.u-margin-left-5 {
  margin-left: $spacing-big;
}

.u-margin-left-6 {
  margin-left: $spacing-bigger;
}

.u-margin-left-7 {
  margin-left: $spacing-biggest;
}

@media screen and (max-width: $breakpoint-small) {
  .u-margin-0-mb {
    margin: 0;
  }

  .u-margin-1-mb {
    margin: $spacing-shortest;
  }

  .u-margin-2-mb {
    margin: $spacing-shorter;
  }

  .u-margin-3-mb {
    margin: $spacing-short;
  }

  .u-margin-4-mb {
    margin: $spacing-medium;
  }

  .u-margin-5-mb {
    margin: $spacing-big;
  }

  .u-margin-6-mb {
    margin: $spacing-bigger;
  }

  .u-margin-7-mb {
    margin: $spacing-biggest;
  }

  .u-margin-top-0-mb {
    margin-top: 0;
  }

  .u-margin-top-1-mb {
    margin-top: $spacing-shortest;
  }

  .u-margin-top-2-mb {
    margin-top: $spacing-shorter;
  }

  .u-margin-top-3-mb {
    margin-top: $spacing-short;
  }

  .u-margin-top-4-mb {
    margin-top: $spacing-medium;
  }

  .u-margin-top-5-mb {
    margin-top: $spacing-big;
  }

  .u-margin-top-6-mb {
    margin-top: $spacing-bigger;
  }

  .u-margin-top-7-mb {
    margin-top: $spacing-biggest;
  }

  .u-margin-right-0-mb {
    margin-right: 0;
  }

  .u-margin-right-1-mb {
    margin-right: $spacing-shortest;
  }

  .u-margin-right-2-mb {
    margin-right: $spacing-shorter;
  }

  .u-margin-right-3-mb {
    margin-right: $spacing-short;
  }

  .u-margin-right-4-mb {
    margin-right: $spacing-medium;
  }

  .u-margin-right-5-mb {
    margin-right: $spacing-big;
  }

  .u-margin-right-6-mb {
    margin-right: $spacing-bigger;
  }

  .u-margin-right-7-mb {
    margin-right: $spacing-biggest;
  }

  .u-margin-bottom-0-mb {
    margin-bottom: 0;
  }

  .u-margin-bottom-1-mb {
    margin-bottom: $spacing-shortest;
  }

  .u-margin-bottom-2-mb {
    margin-bottom: $spacing-shorter;
  }

  .u-margin-bottom-3-mb {
    margin-bottom: $spacing-short;
  }

  .u-margin-bottom-4-mb {
    margin-bottom: $spacing-medium;
  }

  .u-margin-bottom-5-mb {
    margin-bottom: $spacing-big;
  }

  .u-margin-bottom-6-mb {
    margin-bottom: $spacing-bigger;
  }

  .u-margin-bottom-7-mb {
    margin-bottom: $spacing-biggest;
  }

  .u-margin-left-0-mb {
    margin-left: 0;
  }

  .u-margin-left-1-mb {
    margin-left: $spacing-shortest;
  }

  .u-margin-left-2-mb {
    margin-left: $spacing-shorter;
  }

  .u-margin-left-3-mb {
    margin-left: $spacing-short;
  }

  .u-margin-left-4-mb {
    margin-left: $spacing-medium;
  }

  .u-margin-left-5-mb {
    margin-left: $spacing-big;
  }

  .u-margin-left-6-mb {
    margin-left: $spacing-bigger;
  }

  .u-margin-left-7-mb {
    margin-left: $spacing-biggest;
  }
}

@media screen and (max-width: $max-width-large) {
  .u-margin-0-max-content {
    margin: 0;
  }

  .u-margin-1-max-content {
    margin: $spacing-shortest;
  }

  .u-margin-2-max-content {
    margin: $spacing-shorter;
  }

  .u-margin-3-max-content {
    margin: $spacing-short;
  }

  .u-margin-4-max-content {
    margin: $spacing-medium;
  }

  .u-margin-5-max-content {
    margin: $spacing-big;
  }

  .u-margin-6-max-content {
    margin: $spacing-bigger;
  }

  .u-margin-7-max-content {
    margin: $spacing-biggest;
  }

  .u-margin-top-0-max-content {
    margin-top: 0;
  }

  .u-margin-top-1-max-content {
    margin-top: $spacing-shortest;
  }

  .u-margin-top-2-max-content {
    margin-top: $spacing-shorter;
  }

  .u-margin-top-3-max-content {
    margin-top: $spacing-short;
  }

  .u-margin-top-4-max-content {
    margin-top: $spacing-medium;
  }

  .u-margin-top-5-max-content {
    margin-top: $spacing-big;
  }

  .u-margin-top-6-max-content {
    margin-top: $spacing-bigger;
  }

  .u-margin-top-7-max-content {
    margin-top: $spacing-biggest;
  }

  .u-margin-right-0-max-content {
    margin-right: 0;
  }

  .u-margin-right-1-max-content {
    margin-right: $spacing-shortest;
  }

  .u-margin-right-2-max-content {
    margin-right: $spacing-shorter;
  }

  .u-margin-right-3-max-content {
    margin-right: $spacing-short;
  }

  .u-margin-right-4-max-content {
    margin-right: $spacing-medium;
  }

  .u-margin-right-5-max-content {
    margin-right: $spacing-big;
  }

  .u-margin-right-6-max-content {
    margin-right: $spacing-bigger;
  }

  .u-margin-right-7-max-content {
    margin-right: $spacing-biggest;
  }

  .u-margin-bottom-0-max-content {
    margin-bottom: 0;
  }

  .u-margin-bottom-1-max-content {
    margin-bottom: $spacing-shortest;
  }

  .u-margin-bottom-2-max-content {
    margin-bottom: $spacing-shorter;
  }

  .u-margin-bottom-3-max-content {
    margin-bottom: $spacing-short;
  }

  .u-margin-bottom-4-max-content {
    margin-bottom: $spacing-medium;
  }

  .u-margin-bottom-5-max-content {
    margin-bottom: $spacing-big;
  }

  .u-margin-bottom-6-max-content {
    margin-bottom: $spacing-bigger;
  }

  .u-margin-bottom-7-max-content {
    margin-bottom: $spacing-biggest;
  }

  .u-margin-left-0-max-content {
    margin-left: 0;
  }

  .u-margin-left-1-max-content {
    margin-left: $spacing-shortest;
  }

  .u-margin-left-2-max-content {
    margin-left: $spacing-shorter;
  }

  .u-margin-left-3-max-content {
    margin-left: $spacing-short;
  }

  .u-margin-left-4-max-content {
    margin-left: $spacing-medium;
  }

  .u-margin-left-5-max-content {
    margin-left: $spacing-big;
  }

  .u-margin-left-6-max-content {
    margin-left: $spacing-bigger;
  }

  .u-margin-left-7-max-content {
    margin-left: $spacing-biggest;
  }
}

// bs means big screen! 🥴
@media screen and (min-width: $breakpoint-small) {
  .u-margin-0-bs {
    margin: 0;
  }

  .u-margin-1-bs {
    margin: $spacing-shortest;
  }

  .u-margin-2-bs {
    margin: $spacing-shorter;
  }

  .u-margin-3-bs {
    margin: $spacing-short;
  }

  .u-margin-4-bs {
    margin: $spacing-medium;
  }

  .u-margin-5-bs {
    margin: $spacing-big;
  }

  .u-margin-6-bs {
    margin: $spacing-bigger;
  }

  .u-margin-7-bs {
    margin: $spacing-biggest;
  }

  .u-margin-top-0-bs {
    margin-top: 0;
  }

  .u-margin-top-1-bs {
    margin-top: $spacing-shortest;
  }

  .u-margin-top-2-bs {
    margin-top: $spacing-shorter;
  }

  .u-margin-top-3-bs {
    margin-top: $spacing-short;
  }

  .u-margin-top-4-bs {
    margin-top: $spacing-medium;
  }

  .u-margin-top-5-bs {
    margin-top: $spacing-big;
  }

  .u-margin-top-6-bs {
    margin-top: $spacing-bigger;
  }

  .u-margin-top-7-bs {
    margin-top: $spacing-biggest;
  }

  .u-margin-right-0-bs {
    margin-right: 0;
  }

  .u-margin-right-1-bs {
    margin-right: $spacing-shortest;
  }

  .u-margin-right-2-bs {
    margin-right: $spacing-shorter;
  }

  .u-margin-right-3-bs {
    margin-right: $spacing-short;
  }

  .u-margin-right-4-bs {
    margin-right: $spacing-medium;
  }

  .u-margin-right-5-bs {
    margin-right: $spacing-big;
  }

  .u-margin-right-6-bs {
    margin-right: $spacing-bigger;
  }

  .u-margin-right-7-bs {
    margin-right: $spacing-biggest;
  }

  .u-margin-bottom-0-bs {
    margin-bottom: 0;
  }

  .u-margin-bottom-1-bs {
    margin-bottom: $spacing-shortest;
  }

  .u-margin-bottom-2-bs {
    margin-bottom: $spacing-shorter;
  }

  .u-margin-bottom-3-bs {
    margin-bottom: $spacing-short;
  }

  .u-margin-bottom-4-bs {
    margin-bottom: $spacing-medium;
  }

  .u-margin-bottom-5-bs {
    margin-bottom: $spacing-big;
  }

  .u-margin-bottom-6-bs {
    margin-bottom: $spacing-bigger;
  }

  .u-margin-bottom-7-bs {
    margin-bottom: $spacing-biggest;
  }

  .u-margin-left-0-bs {
    margin-left: 0;
  }

  .u-margin-left-1-bs {
    margin-left: $spacing-shortest;
  }

  .u-margin-left-2-bs {
    margin-left: $spacing-shorter;
  }

  .u-margin-left-3-bs {
    margin-left: $spacing-short;
  }

  .u-margin-left-4-bs {
    margin-left: $spacing-medium;
  }

  .u-margin-left-5-bs {
    margin-left: $spacing-big;
  }

  .u-margin-left-6-bs {
    margin-left: $spacing-bigger;
  }

  .u-margin-left-7-bs {
    margin-left: $spacing-biggest;
  }
}