// Borders

.u-border-solid {
  border: 1px solid $n-black;
}

.u-border-bottom-solid {
  border-bottom: 1px solid $n-black;
}

.u-border-dashed-bold {
  border: 2px solid $n-black;
  border-style: dashed;
} 

.u-border-dashed {
  border: 1px solid $n-black;
  border-style: dashed;
}

.u-border-dashed-right {
  border-right: 1px solid $n-black;
  border-right-style: dashed;
}

.u-border-dashed-left {
  border-left: 1px solid $n-black;
  border-left-style: dashed;
}

.u-border-dashed-top {
  border-top: 1px solid $n-black;
  border-top-style: dashed;
}

.u-border-dashed-bottom {
  border-bottom: 1px solid $n-black;
  border-bottom-style: dashed;
}


@media screen and (max-width: $breakpoint-small) {
  .u-border-solid-mb {
    border: 1px solid $n-black;
  }
  
  .u-border-bottom-solid-mb {
    border-bottom: 1px solid $n-black;
  }
  
  .u-border-dashed-bold-mb {
    border: 2px solid $n-black;
    border-style: dashed;
  } 
  
  .u-border-dashed-mb {
    border: 1px solid $n-black;
    border-style: dashed;
  }
  
  .u-border-dashed-right-mb {
    border-right: 1px solid $n-black;
    border-right-style: dashed;
  }
  
  .u-border-dashed-left-mb {
    border-left: 1px solid $n-black;
    border-left-style: dashed;
  }
  
  .u-border-dashed-top-mb {
    border-top: 1px solid $n-black;
    border-top-style: dashed;
  }

  .u-border-dashed-bottom-mb {
    border-bottom: 1px solid $n-black;
    border-bottom-style: dashed;
  }
}

@media screen and (min-width: $breakpoint-small) {
  .u-border-solid-dt {
    border: 1px solid $n-black;
  }
  
  .u-border-bottom-solid-dt {
    border-bottom: 1px solid $n-black;
  }
  
  .u-border-dashed-bold-dt {
    border: 2px solid $n-black;
    border-style: dashed;
  } 
  
  .u-border-dashed-dt {
    border: 1px solid $n-black;
    border-style: dashed;
  }
  
  .u-border-dashed-right-dt {
    border-right: 1px solid $n-black;
    border-right-style: dashed;
  }
  
  .u-border-dashed-left-dt {
    border-left: 1px solid $n-black;
    border-left-style: dashed;
  }
  
  .u-border-dashed-top-dt {
    border-top: 1px solid $n-black;
    border-top-style: dashed;
  }

  .u-border-dashed-bottom-dt {
    border-bottom: 1px solid $n-black;
    border-bottom-style: dashed;
  }
}

// Box Shadows

.u-box-shadow-vertical {
  box-shadow: 0 .25rem 0 0 rgba(0, 0, 0, .1);
}

// Combos

.u-outline-bottom-line-shadow {
  @extend .u-border-bottom-solid;
  @extend .u-box-shadow-vertical;
}

// Box Dashed Drop Square

.u-box-drop-square {
  @extend .u-border-dashed;
  padding: 0 $spacing-tiny $spacing-tiny 0;
  transform: translate(4px, -4px);
  z-index: 10;

  ::after {
  @extend .u-border-solid;
  background-color: $n-white;
  border-image: initial;
  box-sizing: border-box;
  content: "";
  height: 100%;
  left: -4px;
  position: absolute;
  top: -4px;
  width: 100%;
  z-index: -1;
  }
}

.u-box-drop-square-purple {
  @extend .u-box-drop-square;
  
  ::after {
    background-color: $b-pr-purple;
  }
}

.u-box-drop-square-purple-drop {
  @extend .u-box-drop-square;
  background-color: $b-pr-purple;
}

.u-box-drop-square-blue {
  @extend .u-box-drop-square;
  
  ::after {
    background-color: $b-pr-blue;
  }
}

.u-box-drop-square-blue-drop {
  @extend .u-box-drop-square;
  background-color: $b-pr-blue;
}


.u-box-drop-square-lt-green {
  @extend .u-box-drop-square;
  
  ::after {
    background-color: $b-lt-green;
  }
}

.u-box-drop-square-lt-green-drop {
  @extend .u-box-drop-square;
  background-color: $b-lt-green;
}

.u-box-drop-square-lt-tan {
  @extend .u-box-drop-square;
  
  ::after {
    background-color: $b-lt-tan;
  }
}

.u-box-drop-square-lt-tan-drop {
  @extend .u-box-drop-square;
  background-color: $b-lt-tan;
}
