<div class="m-buckets [ u-max-width-content ]">

  <div class="m-bucket m-bucket--one [ u-bkg-color-white u-drop-shadow-faint-vertical ]" style="background-image: url(https://cdn2.hubspot.net/hubfs/2580292/thoughtbot/images/caregivers1.png)">

    <div class="m-bucket__content">
      <div class="m-bucket__titles">
        <h2 class="m-bucket__title [ u-color-white u-font-size-4 u-margin-top-1 ]">
            for families
        </h2>

        <div class="m-bucket__subtitle [ u-color-white u-font-size-2 ]">
            Seniorlink provides family caregivers with coaching, financial and emotional support and a secure app to help them care for their loved ones.
        </div>
      </div>

      <div class="m-bucket__cta [ u-margin-top-2 ]">
          <a class="m-button__primary m-button--ghost m-button--large" href="{{ href }}">How we can help</a>
      </div>
    </div>

  </div>

  <div class="m-bucket m-bucket--two [ u-bkg-color-white u-drop-shadow-faint-vertical ]" style="background-image: url(https://cdn2.hubspot.net/hubfs/2580292/thoughtbot/images/partners1.png)">

    <div class="m-bucket__content">
      <div class="m-bucket__titles">
        <h2 class="m-bucket__title [ u-color-white u-font-size-4 u-margin-top-1 ]">
            For partners
        </h2>
        <div class="m-bucket__subtitle [ u-color-white u-font-size-2 ]">
            Seniorlink offers tech-enabled health services that help you deliver quality care in the home.
        </div>
      </div>

      <div class="m-bucket__cta [ u-margin-top-2 ]">
          <a class="m-button__primary m-button--ghost m-button--large" href="{{ href }}">How we can help</a>
      </div>
    </div>

  </div>

</div>