<!-- note: data-modal-close-class doesn't support more than one class name -->
<div id="case-study-rld-mb" class="m-modal-box-drop [ u-display-none u-box-drop-square u-margin-2 ]" data-modal
  data-modal-close="<span class='[ u-font-size-3 u-font-family-body ]'>Close</span>"
  data-modal-close-class="m-modal__close-button">
  <div class="m-modal__content m-case-study-content [ u-padding-2 u-margin-3-dt u-margin-1-mb u-border-solid ]"
    aria-label="Primary">
    <div class="m-case-study-overview [ u-margin-left-3-dt u-margin-right-3-dt ]">
      <h1>Richline Digital: eCommerce Mobile Experience UX</h1>
      <h4 class="m-case-study-overview__tertiary-title">
        My Roles
      </h4>
      <ul class="m-case-study-overview__list m-case-study-verview__shape-list">
        <li><img class="m-skills-list-item-icon [ u-margin-right-2 u-image-icon-small ]" alt="skill representation icon"
            src="../images/shapes/St1.svg">Project Lead</li>
        <li><img class="m-skills-list-item-icon [ u-margin-right-2 u-image-icon-small ]" alt="skill representation icon"
            src="../images/shapes/C1.svg">User Researcher</li>
        <li><img class="m-skills-list-item-icon [ u-margin-right-2 u-image-icon-small ]" alt="skill representation icon"
            src="../images/shapes/T4.svg">UX Designer</li>
        <li><img class="m-skills-list-item-icon [ u-margin-right-2 u-image-icon-small ]" alt="skill representation icon"
            src="../images/shapes/D1.svg">Visual Designer (for fun)</li>
      </ul>
      <h4 class="m-case-study-overview__tertiary-title">
        Technologies
      </h4>
      <ul class="m-case-study-overview__list [ u-border-dashed-bottom ]">
        <li>Google Analytics</li>
        <li>Hotjar / Fullstory</li>
        <li>Sketch</li>
        <li>InVision</li>
        <li>Figma</li>
      </ul>
    </div>
    <div class="m-case-study-section [ u-margin-left-3-dt u-margin-right-3-dt ]">
      <h2 class="m-case-study-section-title">
        Background
      </h2>
      <p class="m-case-study-section-blurb">
        When I joined the team, Richline Digital’s home-grown eCommerce CMS had a mobile experience that had gone
        untouched for a number of years. The CMS was about ten years old when I joined, and our mobile traffic to the
        site was, by then, sizable and growing. After discussions with key stakeholders, we decided that we needed to
        implement a number of changes to support our users as they engaged with our brands on mobile devices.
      </p>
    </div>
    <div class="m-case-study-section [ u-margin-left-3-dt u-margin-right-3-dt ]">
      <h2 class="m-case-study-section-title">
        Process
      </h2>
      <!-- PDS1 -->
      <div class="m-case-study-sub-section">
        <h3 class="m-case-study-sub-section-title">Iterative Design and Collaboration with Stakeholders</h3>
        <h4 class="m-case-study-overview__tertiary-title">
          Duration: 4 months
        </h4>
        <h4 class="m-case-study-overview__tertiary-title">
          My Roles
        </h4>
        <ul class="m-case-study-overview__list">
          <li>Design Lead</li>
          <li>User Researcher</li>
          <li>Lead Prototype Creation & Iteration</li>
        </ul>
        <h4 class="m-case-study-overview__tertiary-title">
          Phase Summary
        </h4>
        <p class="m-case-study-section-blurb">
          This project was very much UX focused, as brand guidelines for our portfolio brands had already been
          established. I owned the redesign of the mobile experience within our CMS as a solo designer. To begin, I
          analyzed our user data using Google Analytics and Hotjar (I soon switched to Fullstory) to identify problem
          areas for users (drop-off, dead clicks, filtering trouble, etc).</p>
        <p class="m-case-study-section-blurb">
          The stakeholders for this project were our company's three brand owners, as well as our VP of Engineering,
          Marketing Director, and CEO. I worked with the stakeholders through numerous iterations to address varying
          brand needs and prioritize our high-value features. To identify high-value features, I worked closely with our
          marketing team and leveraged Google Analytics and Hotjar/Fullstory to better understand user behaviors.

        </p>
        <div class="m-case-study-img m-case-study-img__center [ u-margin-top-3 ]">
          <img class="m-case-study-img__single m-case-study-img__tall" alt=" Collage of images from each day of the Product
            Design Sprint" src="../images/case-studies/rld-mb/wires.png">
        </div>
      </div>
    </div>
    <div class="m-case-study-section [ u-margin-left-3-dt u-margin-right-3-dt ]">
      <h2 class="m-case-study-section-title">
        Outcome
      </h2>
      <p class="m-case-study-section-blurb">
        Features from the design work were broken into development stories and gradually implemented into Richline
        Digital’s CMS. I also worked with the marketing and development teams to A/B test feature variations as they
        were rolled into production. Major improvements like optimized filters, item suggestions, and an improved
        checkout flow resulted in a substantial increase in conversions and checkout totals.
      </p>
    </div>
    <div class="m-case-study-section [ u-margin-left-3-dt u-margin-right-3-dt ]">
      <h2 class="m-case-study-section-title">
        For fun...
      </h2>
      <p class="m-case-study-section-blurb">
        This project was very UX focused, but I wanted to play with the visual design. I reimagined the design as a
        mobile app from the Product Page through the Checkout flow. 🙌
        <br>
        Two clickable prototype variations are <a
          href="https://www.figma.com/proto/QYEwEXQRssnDjiMaL0JHPq/Silpada-Redo-flat?node-id=0%3A1674&viewport=-7547%2C316%2C0.4016331732273102&scaling=scale-down"
          target="_blank">here</a> and <a
          href="https://www.figma.com/proto/J2e0PBlIFb08Nhhbm4KC0O/Silpada-Redo?node-id=0%3A1674&viewport=-10535%2C231%2C0.5483902096748352&scaling=scale-down"
          target="_blank">here</a>.
        <br>
        <a href="https://dribbble.com/shots/11049639-Ecommerce-Concept" target="_blank">See it on
          Dribbble</a>
      </p>
      <div class="m-case-study-img m-case-study-img__center [ u-margin-top-3 ]">
        <img class="m-case-study-img__single m-case-study-img__tall" alt="image of screens from the final app"
          src="../images/case-studies/rld-mb/ecomm-redo.png">
      </div>
    </div>
  </div>
</div>