<!-- note: data-modal-close-class doesn't support more than one class name -->
<div id="case-study-cb" class="m-modal-box-drop [ u-display-none u-box-drop-square u-margin-2 ]" data-modal
  data-modal-close="<span class='[ u-font-size-3 u-font-family-body ]'>Close</span>"
  data-modal-close-class="m-modal__close-button">
  <div class="m-modal__content m-case-study-content [ u-padding-2 u-margin-3-dt u-margin-1-mb u-border-solid ]"
    aria-label="Primary">
    <div class="m-case-study-overview [ u-margin-left-3-dt u-margin-right-3-dt ]">
      <h1>Life Sciences Social App: 2 Design Sprints, Design & Development</h1>
      <h4 class="m-case-study-overview__tertiary-title">
        My Roles
      </h4>
      <ul class="m-case-study-overview__list m-case-study-verview__shape-list">
        <li><img class="m-skills-list-item-icon [ u-margin-right-2 u-image-icon-small ]" alt="skill representation icon"
            src="../images/shapes/St1.svg">Project Lead</li>
        <li><img class="m-skills-list-item-icon [ u-margin-right-2 u-image-icon-small ]" alt="skill representation icon"
            src="../images/shapes/R3.svg">Product Design Sprint Facilitator</li>
        <li><img class="m-skills-list-item-icon [ u-margin-right-2 u-image-icon-small ]" alt="skill representation icon"
            src="../images/shapes/C1.svg">User Researcher</li>
        <li><img class="m-skills-list-item-icon [ u-margin-right-2 u-image-icon-small ]" alt="skill representation icon"
            src="../images/shapes/T4.svg">UX Designer</li>
        <li><img class="m-skills-list-item-icon [ u-margin-right-2 u-image-icon-small ]" alt="skill representation icon"
            src="../images/shapes/Sm1.svg">Front-End Developer</li>
      </ul>
      <h4 class="m-case-study-overview__tertiary-title">
        Technologies
      </h4>
      <ul class="m-case-study-overview__list [ u-border-dashed-bottom ]">
        <li>Product Design Sprint</li>
        <li>Figma</li>
        <li>React Native</li>
        <li>Trello</li>
      </ul>
    </div>
    <div class="m-case-study-section [ u-margin-left-3-dt u-margin-right-3-dt ]">
      <h2 class="m-case-study-section-title">
        Background
      </h2>
      <p class="m-case-study-section-blurb">
        The client for this project was a small team within a bank, which funded a large number of life science
        companies. The team had already developed a website that helps life science company leaders and investors better
        understand the industry funding ecosystem. The client first approached my company (thoughtbot) to
        conceptualize a mobile app proposal through the use of a Product Design Sprint. A few months later, the client
        returned to undergo another Product Design Sprint and build an MVP social mobile app to support their existing
        product.
      </p>
    </div>
    <div class="m-case-study-section [ u-margin-left-3-dt u-margin-right-3-dt ]">
      <h2 class="m-case-study-section-title">
        Process, first engagement
      </h2>
      <!-- PDS1 -->
      <div class="m-case-study-sub-section">
        <h3 class="m-case-study-sub-section-title">Product Design Sprint, Week 1</h3>
        <h4 class="m-case-study-overview__tertiary-title">
          Duration: 1 week
        </h4>
        <h4 class="m-case-study-overview__tertiary-title">
          My Roles
        </h4>
        <ul class="m-case-study-overview__list">
          <li>Product Design Sprint Facilitator</li>
          <li>Co-created Working Prototype</li>
        </ul>
        <h4 class="m-case-study-overview__tertiary-title">
          Phase Summary
        </h4>
        <p class="m-case-study-section-blurb">
          As project lead, I planned and led a week-long Product Design Sprint with our client’s stakeholder. The goal
          of the sprint was to rapidly generate a prototype for a life sciences social application and gather feedback
          from actual users.</p>
        <p class="m-case-study-section-blurb">
          We kicked off the sprint with ‘Expert Interviews,’ in which time we were able to interview other leaders in
          the life sciences space and better understand how they used our client’s current web platform. We identified
          that our client’s users highly valued our client’s weekly newsletter, which outlined funding events in the
          life sciences space. Our sprint focused on how we could create a high-value experience around this event and
          encourage continued engagement with the app.
        </p>
        <div class="m-case-study-img m-case-study-img__center [ u-margin-top-3 ]">
          <img class="m-case-study-img__single m-case-study-img__tall" alt=" Collage of images from each day of the Product
            Design Sprint" src="../images/case-studies/life-sciences-social/PDS-1-collage.png">
        </div>
      </div>
      <!-- User Interviews 1 -->
      <div class="m-case-study-sub-section">
        <h3 class="m-case-study-sub-section-title">Product Design Sprint, Week 2 (User Interviews)</h3>
        <h4 class="m-case-study-overview__tertiary-title">
          Duration: 1 week
        </h4>
        <h4 class="m-case-study-overview__tertiary-title">
          My Roles
        </h4>
        <ul class="m-case-study-overview__list">
          <li>Co-facilitate Interviews</li>
          <li>Prototype Iteration</li>
        </ul>
        <h4 class="m-case-study-overview__tertiary-title">
          Phase Summary
        </h4>
        <p class="m-case-study-section-blurb">
          My designer colleague and I tested the prototype with numerous life science industry leaders. We compiled our
          findings day by day, rapidly iterating and refining our prototype as we gathered feedback. We ended this
          engagement with a strong prototype with design decisions supported by user feedback.</p>
        <p class="m-case-study-section-blurb">
          Our client was able to present this prototype the bank as a proof-of-concept, getting sign-off for another
          longer-term engagement with thoughtbot.
        </p>
      </div>
      <div class="m-case-study-img m-case-study-img__center [ u-margin-top-3 ]">
        <img class="m-case-study-img__single m-case-study-img__tall" alt="Collage of screens from the Prototype"
          src="../images/case-studies/life-sciences-social/PDS-1-prototype.png">
      </div>
    </div>

    <div class="m-case-study-section [ u-margin-left-3-dt u-margin-right-3-dt ]">
      <h2 class="m-case-study-section-title">
        Process, second engagement
      </h2>
      <!-- PDS2 -->
      <div class="m-case-study-sub-section">
        <h3 class="m-case-study-sub-section-title">Product Design Sprint, Week 1</h3>
        <h4 class="m-case-study-overview__tertiary-title">
          Duration: 1 week
        </h4>
        <h4 class="m-case-study-overview__tertiary-title">
          My Roles
        </h4>
        <ul class="m-case-study-overview__list">
          <li>Product Design Sprint Facilitator</li>
          <li>Prepared User Interview Script</li>
          <li>Co-created Working Prototype</li>
        </ul>
        <h4 class="m-case-study-overview__tertiary-title">
          Phase Summary
        </h4>
        <p class="m-case-study-section-blurb">
          We continued work with the client a few months later. Again acting as project lead, I planned and led another
          week-long Product Design Sprint with our client’s
          stakeholder. The goal of this sprint was to explore the viability of a social app for the life sciences, this
          time with more defined technical limitations.</p>
        <p class="m-case-study-section-blurb">
          Our client envisioned creating a ‘Slack for the life sciences,’ an application that could support different
          types of group discussions and individual posts for life science professionals. The goal of the sprint was to
          identify the highest-value user behaviors we could support within our relatively small development window. We
          also wanted to conceptualize a product that could scale in later development sprints after more user
          engagement data and
          interview findings had been acquired.</p>
        <div class="m-case-study-img m-case-study-img__center [ u-margin-top-3 ]">
          <img class="m-case-study-img__single m-case-study-img__tall"
            alt="Collage of images from the Product Design Sprint"
            src="../images/case-studies/life-sciences-social/PDS-2-collage.png">
        </div>
      </div>
      <!-- User Interviews 2 -->
      <div class="m-case-study-sub-section">
        <h3 class="m-case-study-sub-section-title">Product Design Sprint, Week 2 (User Interviews)</h3>
        <h4 class="m-case-study-overview__tertiary-title">
          Duration: 1 week
        </h4>
        <h4 class="m-case-study-overview__tertiary-title">
          My Roles
        </h4>
        <ul class="m-case-study-overview__list">
          <li>Co-facilitated user interviews</li>
          <li>Prototype Iteration</li>
        </ul>
        <h4 class="m-case-study-overview__tertiary-title">
          Phase Summary
        </h4>
        <p class="m-case-study-section-blurb">
          My designer colleague and I again built a prototype and tested it with people who worked in the life science
          industry at
          varying levels of seniority. Those excited about the product tended to be professionals younger in age or
          working in startup-like environments. Many described a strong sense of community within their area of study or
          industry vertical and a desire to be better connected with others.</p>
        <p class="m-case-study-section-blurb">
          With this knowledge in hand, or team recommended a further exploration into the limitations of
          existing professional networking platforms (LinkedIn, ResearchGate). Our team also explored white-labeling a
          product like Stack Overflow as a proof-of-concept.</p>
        <p class="m-case-study-section-blurb">
          In the end, our client elected that we build a lo-fi social app to operate as a high-fidelity learning tool in
          its Beta state. After launching in Beta, our client planned to gather user data and scope continued builds,
          working to eventually integrating the mobile app with our client's web app. With this in mind, we adopted our
          client’s existing web app design patterns and adjusted our product scope to offer basic but flexible
          functionality for future scaling efforts.</p>
        <div class="m-case-study-img m-case-study-img__center [ u-margin-top-3 ]">
          <img class="m-case-study-img__single m-case-study-img__tall" alt="Collage of screens from the Prototype"
            src="../images/case-studies/life-sciences-social/PDS-2-prototype.png">
        </div>
      </div>
      <!-- UX/Visual Design Refinements & MVP Implementation Planning
 -->
      <div class="m-case-study-sub-section">
        <h3 class="m-case-study-sub-section-title">UX/Visual Design Refinements & MVP Implementation Planning
        </h3>
        <h4 class="m-case-study-overview__tertiary-title">
          Duration: 3 days
        </h4>
        <h4 class="m-case-study-overview__tertiary-title">
          My Roles
        </h4>
        <ul class="m-case-study-overview__list">
          <li>Project Management</li>
          <li>Design Thinking Facilitation</li>
          <li>Design Iteration</li>
        </ul>
        <h4 class="m-case-study-overview__tertiary-title">
          Phase Summary
        </h4>
        <p class="m-case-study-section-blurb">
          In this phase, I became the only designer on the project. With our client’s needs and findings from the
          Product Design Sprint in hand, I led our team and client through a <a
            href="https://thoughtbot.com/blog/impact-effort-matrices-they-re-awesome-and-you-can-too-title-in-progress"
            target="_blank">feature prioritization planning exercise using an impact/effort matrix</a>. Using this tool,
          we were able to quickly assess which features to include in our MVP, and which to funnel into our backlog. As
          my developer colleagues began building, I organized basic design styles, consulting with our client’s in-house
          designer
          and ensuring that our design aligned with our client’s established design patterns.
        </p>
        <div class="m-case-study-img m-case-study-img__center [ u-margin-top-3 ]">
          <img class="m-case-study-img__single m-case-study-img__tall" alt="Image of updated screens of prototype"
            src="../images/case-studies/life-sciences-social/PDS-2-prototype-updated.png">
        </div>
      </div>
      <!-- Implementation Planning and Setup -->
      <div class="m-case-study-sub-section">
        <h3 class="m-case-study-sub-section-title">React Native Implementation</h3>
        <h4 class="m-case-study-overview__tertiary-title">
          Duration: 8 weeks
        </h4>
        <h4 class="m-case-study-overview__tertiary-title">
          My Roles
        </h4>
        <ul class="m-case-study-overview__list">
          <li>Design Implementation (React Native)</li>
          <li>Ongoing Project Management</li>
        </ul>
        <h4 class="m-case-study-overview__tertiary-title">
          Phase Summary
        </h4>
        <p class="m-case-study-section-blurb">
          Our team moved quickly to build the app in two months for our client. I was responsible for all style
          implementation. This involved first building out core global styles, like text styles, buttons, and layout
          constants (eg. margins & padding).
          I then built out basic components within the app, like card styles, banners, and navigation components.
        </p>
        <p class="m-case-study-section-blurb">
          We conducted weekly demos with our client, updating the team on our progress and reviewing our upcoming work
          from our MVP features list. I also assisted our client’s team in building a strategy to seed the app with
          high-value
          content and a plan roll out the app to a subset of their users. I developed surveys and referenced user data
          to
          propose high-value topics that the app could initially house to attract new users.</p>

      </div>
    </div>
    <div class="m-case-study-section [ u-margin-left-3-dt u-margin-right-3-dt ]">
      <h2 class="m-case-study-section-title">
        Outcome
      </h2>
      <p class="m-case-study-section-blurb">
        The mobile app was submitted and approved to both the Apple and Android stores before the end of our team’s
        engagement. Our client is currently beta testing the app with a subset of their clients.
      </p>
      <div class="m-case-study-img m-case-study-img__center [ u-margin-top-3 ]">
        <img class="m-case-study-img__single m-case-study-img__tall" alt="image of screens from the final app"
          src="../images/case-studies/life-sciences-social/final-app.png">
      </div>
      <div class="m-case-study-section [ u-margin-left-3-dt u-margin-right-3-dt ]">
        <h2 class="m-case-study-section-title">
          Real talk...
        </h2>
        <p class="m-case-study-section-blurb">
          Visual design wasn't a priority on this project, so one afternoon I spruced up the basic
          design styles inside Figma for fun 💃
          <br>
          <a href="https://dribbble.com/shots/10949316-Life-Sciences-Community-App" target="_blank">See it on
            Dribbble</a>
        </p>
        <div class="m-case-study-img m-case-study-img__center [ u-margin-top-3 ]">
          <img class="m-case-study-img__single m-case-study-img__tall" alt="image of screens from the final app"
            src="../images/case-studies/life-sciences-social/design-refresh.png">
        </div>
      </div>
    </div>
  </div>
</div>