<!-- note: data-modal-close-class doesn't support more than one class name -->
<div id="case-study-seniorlink" class="m-modal-box-drop [ u-display-none u-box-drop-square u-margin-2 ]" data-modal
  data-modal-close="<span class='[ u-font-size-3 u-font-family-body ]'>Close</span>"
  data-modal-close-class="m-modal__close-button">
  <div class="m-modal__content m-case-study-content [ u-padding-2 u-margin-3-dt u-margin-1-mb u-border-solid ]"
    aria-label="Primary">
    <div class="m-case-study-overview [ u-margin-left-3-dt u-margin-right-3-dt ]">
      <h1>Seniorlink Marketing Website Redesign & CMS Build</h1>
      <h5 class="m-case-study-link-out"><a href="www.seniorlink.com" target="_blank">Seniorlink.com</a></h5>
      <h4 class="m-case-study-overview__tertiary-title">
        My Roles
      </h4>
      <ul class="m-case-study-overview__list m-case-study-verview__shape-list">
        <li><img class="m-skills-list-item-icon [ u-margin-right-2 u-image-icon-small ]" alt="skill representation icon"
            src="../images/shapes/St1.svg">Project Lead</li>
        <li><img class="m-skills-list-item-icon [ u-margin-right-2 u-image-icon-small ]" alt="skill representation icon"
            src="../images/shapes/R3.svg">Product Design Sprint Facilitator</li>
        <li><img class="m-skills-list-item-icon [ u-margin-right-2 u-image-icon-small ]" alt="skill representation icon"
            src="../images/shapes/C1.svg">User Researcher</li>
        <li><img class="m-skills-list-item-icon [ u-margin-right-2 u-image-icon-small ]" alt="skill representation icon"
            src="../images/shapes/D1.svg">Visual Designer</li>
        <li><img class="m-skills-list-item-icon [ u-margin-right-2 u-image-icon-small ]" alt="skill representation icon"
            src="../images/shapes/T4.svg">UX Designer</li>
        <li><img class="m-skills-list-item-icon [ u-margin-right-2 u-image-icon-small ]" alt="skill representation icon"
            src="../images/shapes/Sm1.svg">Front-End Developer</li>
      </ul>
      <h4 class="m-case-study-overview__tertiary-title">
        Technologies
      </h4>
      <ul class="m-case-study-overview__list [ u-border-dashed-bottom ]">
        <li>Product Design Sprint</li>
        <li>Figma</li>
        <li>Middleman Static Site Generator</li>
        <li>Hubspot CMS</li>
        <li>HubL (Hubspot templating language)</li>
        <li>HTML</li>
        <li>Sass/CSS</li>
        <li>jQuery</li>
        <li>Trello</li>
      </ul>
    </div>
    <div class="m-case-study-section [ u-margin-left-3-dt u-margin-right-3-dt ]">
      <h2 class="m-case-study-section-title">
        Background
      </h2>
      <p class="m-case-study-section-blurb">
        Seniorlink works with states to empower caregivers with resources, information, and social support as they care
        for their loved ones. Seniorlink’s marketing team approached thoughtbot for a website redesign to better explain
        their value proposition to state agencies and service offerings to caregivers.
      </p>
      <div class="m-case-study-img m-case-study-img__center [ u-margin-top-3 ]">
        <img class="m-case-study-img__single m-case-study-img__tall"
          alt="image of Seniorlink website before design engagement"
          src="../images/case-studies/seniorlink/homepage-before.png">
      </div>
    </div>
    <div class="m-case-study-section [ u-margin-left-3-dt u-margin-right-3-dt ]">
      <h2 class="m-case-study-section-title">
        Process
      </h2>
      <!-- Stakeholder Interviews -->
      <div class="m-case-study-sub-section">
        <h3 class="m-case-study-sub-section-title">Stakeholder Interviews</h3>
        <h4 class="m-case-study-overview__tertiary-title">
          Duration: 3 days
        </h4>
        <h4 class="m-case-study-overview__tertiary-title">
          My Roles
        </h4>
        <ul class="m-case-study-overview__list">
          <li>Write Interview Script</li>
          <li>Co-facilitate Stakeholder Interviews</li>
          <li>Prepare & Present Stakeholder Interview Findings</li>
        </ul>
        <h4 class="m-case-study-overview__tertiary-title">
          Phase Summary
        </h4>
        <p class="m-case-study-section-blurb">
          Our team (two thoughtbot consultants, myself full-time and a colleague part-time) started this project by
          interviewing stakeholders on the Seniorlink senior management team. At this stage, our team sought to learn
          about the
          company, who the website was for, and what was and was not working on the company’s current site.</p>
        <p class="m-case-study-section-blurb">
          We began to identify high-value personas the new site would need to address (caregivers, state agency
          officials, case managers). Senior management felt that none of these personas had been well-served by the
          current site were in favor of a complete redesign of the site.
          We compiled our takeaways into a deck, which we presented to the Seniorlink marketing team to kick off the
          Product Design Sprint.
        </p>
      </div>
      <!-- PDS -->
      <div class="m-case-study-sub-section">
        <h3 class="m-case-study-sub-section-title">Product Design Sprint</h3>
        <h4 class="m-case-study-overview__tertiary-title">
          Duration: 1 week
        </h4>
        <h4 class="m-case-study-overview__tertiary-title">
          My Roles
        </h4>
        <ul class="m-case-study-overview__list">
          <li>Product Design Sprint Facilitator</li>
          <li>Lead Prototype Build</li>
        </ul>
        <h4 class="m-case-study-overview__tertiary-title">
          Phase Summary
        </h4>
        <p class="m-case-study-section-blurb">
          As project lead, I planned and led a week-long Product Design Sprint with the Seniorlink marketing team. This
          involved three full days on-site with the Seniorlink team, working through a series of progressive design
          exercises. These exercises helped our team identify opportunities and risks, and ultimately, served us to
          converge upon the design of a prototype to test with users. We opted to build a mobile view of the website, as
          the majority of Seniorlink’s traffic was mobile traffic. I built the prototype with my colleague in Figma.</p>
      </div>
      <div class="m-case-study-img m-case-study-img__center [ u-margin-top-3 ]">
        <img class="m-case-study-img__single m-case-study-img__tall" alt=" Collage of images from each day of the Product
          Design Sprint" src="../images/case-studies/seniorlink/pds-collage.png">
      </div>
      <!-- User Interviews -->
      <div class="m-case-study-sub-section">
        <h3 class="m-case-study-sub-section-title">User Interviews</h3>
        <h4 class="m-case-study-overview__tertiary-title">
          Duration: 1 week
        </h4>
        <h4 class="m-case-study-overview__tertiary-title">
          My Roles
        </h4>
        <ul class="m-case-study-overview__list">
          <li>Co-facilitate Interviews</li>
          <li>Prepare & Present User Interview Findings</li>
        </ul>
        <h4 class="m-case-study-overview__tertiary-title">
          Phase Summary
        </h4>
        <p class="m-case-study-section-blurb">
          My colleague and I tested the prototype with numerous caregivers, case managers, and state officials the
          following week. We compiled our findings and presented them to the Seniorlink team. Together with the
          Seniorlink team, we utilized the findings to refine our design and content strategy.</p>
        <div class="m-case-study-img m-case-study-img__center [ u-margin-top-3 ]">
          <img class="m-case-study-img__single m-case-study-img__tall" alt="view of Product Design Sprint pages from
            prototype" src="../images/case-studies/seniorlink/pds-prototype.png">
        </div>
      </div>
      <!-- Visual Design Iteration -->
      <div class="m-case-study-sub-section">
        <h3 class="m-case-study-sub-section-title">Visual Design Iteration</h3>
        <h4 class="m-case-study-overview__tertiary-title">
          Duration: 2 weeks
        </h4>
        <h4 class="m-case-study-overview__tertiary-title">
          My Roles
        </h4>
        <ul class="m-case-study-overview__list">
          <li>Co-collaborate on visual design exploration</li>
          <li>Present design proposals and gather feedback</li>
        </ul>
        <h4 class="m-case-study-overview__tertiary-title">
          Phase Summary
        </h4>
        <p class="m-case-study-section-blurb">
          The Seniorlink team wanted an entirely new visual design for the website, so my colleague and I proposed
          numerous visual design patterns, motifs, and illustration styles to the team, taking into consideration user
          interview feedback, stakeholder requests, and feedback from the marketing team about visual preferences and
          what had historically resonated with our target personas.</p>
        <p class="m-case-study-section-blurb">
          After a few rounds of design iteration, our teams decided on a direction. We were nearly ready to start
          implementing the design in code.</p>
        <div class="m-case-study-img m-case-study-img__center [ u-margin-top-3 ]">
          <img class="m-case-study-img__single m-case-study-img__tall" alt="Array of design options"
            src="../images/case-studies/seniorlink/design-proposals.png">
        </div>
      </div>
      <!-- Implementation Planning and Setup -->
      <div class="m-case-study-sub-section">
        <h3 class="m-case-study-sub-section-title">Implementation Planning and Core Styles</h3>
        <h4 class="m-case-study-overview__tertiary-title">
          Duration: 2 weeks
        </h4>
        <h4 class="m-case-study-overview__tertiary-title">
          My Roles
        </h4>
        <ul class="m-case-study-overview__list">
          <li>Design audit</li>
          <li>Visual design ownership</li>
          <li>Coded implementation</li>
        </ul>
        <h4 class="m-case-study-overview__tertiary-title">
          Phase Summary
        </h4>
        <p class="m-case-study-section-blurb">
          Before getting started with code, I conducted a design audit of the approved design and began to organize a
          basic design system for the project. This included type styles, buttons, visual elements, links, margins,
          padding, etc. These styles were converted into global variables or core design classes in Sass in order to
          keep our code DRY and our design consistent.
        </p>
        <p class="m-case-study-section-blurb">
          The Hubspot CMS supports the building out of ‘modules,’ which allows the content manager to easily manipulate
          page layouts and update content, colors, images, etc. My colleague and I elected to build out the structure of
          our modules using Middleman static site generator so that we could use Sass and easily compile our code to CSS
          for use inside Hubspot. Once inside Hubspot, we could use the HubL templating language to convert our static
          designs into reusable templated modules.</p>
        <div class="m-case-study-img m-case-study-img__center [ u-margin-top-3 ]">
          <img class="m-case-study-img__single m-case-study-img__tall"
            src="../images/case-studies/seniorlink/implementation-start.png">
        </div>

      </div>
      <!-- Implementation into Hubspot CMS -->
      <div class="m-case-study-sub-section">
        <h3 class="m-case-study-sub-section-title">Implementation into Hubspot CMS</h3>
        <h4 class="m-case-study-overview__tertiary-title">
          Duration: 8 weeks
        </h4>
        <h4 class="m-case-study-overview__tertiary-title">
          My Roles
        </h4>
        <ul class="m-case-study-overview__list">
          <li>Implementation</li>
          <li>Ongoing project management</li>
        </ul>
        <h4 class="m-case-study-overview__tertiary-title">
          Phase Summary
        </h4>
        <p class="m-case-study-section-blurb">
          I continued on the project as the sole consultant at this stage. I maintained close contact with the
          Seniorlink team throughout the project, ensuring core functionality was prioritized and demoing work as it was
          completed. As our engagement came to a close, I spent my days with the Seniorlink
          team so that I could address any concerns with the site they had.
        </p>

      </div>

    </div>
    <div class="m-case-study-section [ u-margin-left-3-dt u-margin-right-3-dt ]">
      <h2 class="m-case-study-section-title">
        Outcome
      </h2>
      <p class="m-case-study-section-blurb">
        The redesigned Seniorlink site launched in mid-October, 2019. Form submissions on the site (our core success
        metric) have spiked since the site launch. The Seniorlink team can also update and re-build pages using the
        modules our team built with ease, which has granted them not just autonomy, but also the ability to A/B test
        content and further refine their marketing strategy.

      </p>
      <div class="m-case-study-img m-case-study-img__center [ u-margin-top-3 ]">
        <img class="m-case-study-img__single m-case-study-img__tall" src="../images/case-studies/seniorlink/final.png">
      </div>
      <p class="m-case-study-section-blurb">
        Check it out at <a href="www.seniorlink.com" target="_blank">Seniorlink.com</a>!
      </p>
    </div>
  </div>

</div>