<!-- note: data-modal-close-class doesn't support more than one class name -->
<div id="case-study-rld" class="m-modal-box-drop [ u-display-none u-box-drop-square u-margin-2 ]" data-modal
  data-modal-close="<span class='[ u-font-size-3 u-font-family-body ]'>Close</span>"
  data-modal-close-class="m-modal__close-button">
  <div class="m-modal__content m-case-study-content [ u-padding-2 u-margin-3-dt u-margin-1-mb u-border-solid ]"
    aria-label="Primary">
    <div class="m-case-study-overview [ u-margin-left-3-dt u-margin-right-3-dt ]">
      <h1>Richline Digital ECommerce Product Feed Page Redesign</h1>
      <h5 class="m-case-study-link-out"><a href="https://www.gemvara.com/b/gemstone-engagement-rings/"
          target="_blank">Gemvara.com</a>, <a href="https://www.silpada.com/Jewelry/jewelry/b/"
          target="_blank">Silpada.com</a>,
        <a href="https://www.honora.com/shop" target="_blank">Honora.com</a>, & <a href="https://www.jewelry.com/shop"
          target="_blank">Jewelry.com</a></h5>
      <h4 class="m-case-study-overview__tertiary-title">
        My Roles
      </h4>
      <ul class="m-case-study-overview__list m-case-study-verview__shape-list">
        <li><img class="m-skills-list-item-icon [ u-margin-right-2 u-image-icon-small ]" alt="skill representation icon"
            src="../images/shapes/St1.svg">Project Lead</li>
        <li><img class="m-skills-list-item-icon [ u-margin-right-2 u-image-icon-small ]" alt="skill representation icon"
            src="../images/shapes/C1.svg">User Researcher</li>
        <li><img class="m-skills-list-item-icon [ u-margin-right-2 u-image-icon-small ]" alt="skill representation icon"
            src="../images/shapes/T4.svg">UX Designer</li>
        <li><img class="m-skills-list-item-icon [ u-margin-right-2 u-image-icon-small ]" alt="skill representation icon"
            src="../images/shapes/Rt2.svg">UI Designer</li>
        <li><img class="m-skills-list-item-icon [ u-margin-right-2 u-image-icon-small ]" alt="skill representation icon"
            src="../images/shapes/Sm1.svg">HTML/CSS/JS</li>
      </ul>
      <h4 class="m-case-study-overview__tertiary-title">
        Technologies
      </h4>
      <ul class="m-case-study-overview__list [ u-border-dashed-bottom ]">
        <li>Sketch</li>
        <li>HTML</li>
        <li>CSS</li>
        <li>jQuery</li>
      </ul>
    </div>
    <div class="m-case-study-section [ u-margin-left-3-dt u-margin-right-3-dt ]">
      <h2 class="m-case-study-section-title">
        Background
      </h2>
      <p class="m-case-study-section-blurb">
        Richline Digital's home-grown CMS had outdated features on its product feed page. The product tiles and filters
        were not flexible enough to support the company's expanding brand portfolio, and research has informed me that
        very few people were able to find and use the product filters, especially on the desktop experience.
      </p>
      <div class="m-case-study-img m-case-study-img__center [ u-margin-top-3 ]">
        <img class="m-case-study-img__single m-case-study-img__tall"
          alt="Image of product feed page before the redesign" src="../images/case-studies/rld/before-view.png">
      </div>
    </div>
    <div class="m-case-study-section [ u-margin-left-3-dt u-margin-right-3-dt ]">
      <h2 class="m-case-study-section-title">
        Process
      </h2>
      <p class="m-case-study-section-blurb">
        I first created a round of mockups that reflected page formats requested by our stakeholders and brand owners. I
        facilitated the prioritization of features and discussed flexible solutions that would accomodate different
        brand strategies.
      </p>
      <div class="m-case-study-img m-case-study-img__center [ u-margin-top-3 ]">
        <img class="m-case-study-img__single m-case-study-img__tall" alt="Image of high-level design variants"
          src="../images/case-studies/rld/design-variants.png">
      </div>
      <p class="m-case-study-section-blurb"></p>
      Once we were in agreement on a design direction and high-value features for the page, I elected to code a working
      prototype. This way, I was able to demonstrate CSS capabilities (like CSS grid) that would allow our marketing
      teams to easily customize and A/B test layouts across brands without relying on our developement team.
      <p class="m-case-study-section-blurb"></p>
      The prototype demonstrates
      responsive behavior and an administrative menu so that stakeholders could easily
      toggle to different feature settings when interacting with the design proposal.
      </p>
      <p class="m-case-study-section-blurb"><a target="_blank"
          href="https://codepen.io/kellymccann91/full/GPBVdy">Interact with the live prototype here!</a></p>
      <div class="m-case-study-img m-case-study-img__center [ u-margin-top-3 ]">
        <img class="m-case-study-img__single m-case-study-img__tall"
          alt="Image of screenshot from interactive prototype" src="../images/case-studies/rld/codepen.png">
      </div>
    </div>
    <div class="m-case-study-section [ u-margin-left-3-dt u-margin-right-3-dt ]">
      <h2 class="m-case-study-section-title">
        Outcome
      </h2>
      <p class="m-case-study-section-blurb">
        Because I coded this design proposal, I was relieved of creating mockups for every brand, with every proposed
        configurable option, at multiple screen widths. It also allowed me to steer the front-end build in a way that
        supported future product endeavors, saving time for both my team and the engineering team.
      </p>
      <p class="m-case-study-section-blurb">
        Through this project, my team was able to advocate for brand design systems and design tooling/methods that
        included coded specs in my team’s handoff workflow. You can see this page in production on <a
          href="https://www.gemvara.com/b/gemstone-engagement-rings/" target="_blank">Gemvara.com</a>, <a
          href="https://www.silpada.com/Jewelry/jewelry/b/" target="_blank">Silpada.com</a>, <a
          href="https://www.honora.com/shop" target="_blank">Honora.com</a>, or <a href="https://www.jewelry.com/shop"
          target="_blank">Jewelry.com</a>.
      </p>
    </div>
  </div>

</div>