<div class="m-contact [ u-margin-top-2-mb u-margin-top-4-dt u-margin-bottom-4 ]">
  <h2 class="m-contact-header [ u-font-size-6 ]">Get in touch.</h2>
  <div class="m-contact-box [ u-box-drop-square u-margin-top-4 u-margin-left-6-dt u-margin-right-6-dt ]">
    <h2 class="m-contact-box-text [ u-font-size-3-dt u-font-size-2-mb u-line-height-loose u-padding-2 ]">email:
      <a href="mailto:kellymccann91@gmail.com">kellymccann91@gmail.com</a>
    </h2>
    <!-- social links below! -->
    <!-- to add: codepen, linkedin, github -->
    <!-- ...then dribbble/insta, and medium -->

    <h2 class="m-contact-box-text [ u-font-size-3-dt u-font-size-3-mb u-line-height-loose u-padding-2 u-margin-top-2 ]">
      Or, find me on:
    </h2>
    <ul class="m-contact-box-link-list [ u-padding-left-2 u-padding-right-2 u-padding-bottom-2 ]">
      <li class="m-contact-box-link-list-item [ u-margin-right-2 ]"><a class="[ u-image-svg-clickable ]" target="_blank"
          href="https://dribbble.com/kellymccann91">
          <img src="../images/icons/Dribbble.png" alt="Dribbble">

        </a></li>
      <li class="m-contact-box-link-list-item [ u-margin-right-2 ]"><a class="[ u-image-svg-clickable ]" target="_blank"
          href="https://www.linkedin.com/in/kellyjmccann/">
          <img src="../images/icons/Linkedin.png" alt="Linkedin">

        </a></li>
      <li class="m-contact-box-link-list-item [ u-margin-right-2 ]"><a class="[ u-image-svg-clickable ]" target="_blank"
          href="https://github.com/kellymccann91">
          <img src="../images/icons/Github.png" alt="Github">

        </a></li>
    </ul>
  </div>
</div>