<div class="m-contact [ u-margin-top-2-mb u-margin-top-4-dt u-margin-bottom-4 ]">
  <h2 class="m-contact-header [ u-font-size-6 ]">Get in touch.</h2>
  <div class="m-contact-box [ u-box-drop-square u-margin-top-4 u-margin-left-6-dt u-margin-right-6-dt ]">
    <h2 class="m-contact-box-text [ u-font-size-3-dt u-font-size-2-mb u-line-height-loose u-padding-2 ]">email:
      <a href="mailto:kellymccann91@gmail.com">kellymccann91@gmail.com</a>
    </h2>
    <!-- social links below! -->

    <!-- <h2 class="m-contact-box-text [ u-font-size-3-dt u-font-size-2-mb u-line-height-loose u-padding-2 u-margin-top-2 ]">
      Or, find me on:
    </h2>
    <ul class="m-contact-box-link-list [ u-padding-left-2 u-padding-right-2 u-padding-bottom-2 ]">
      <li class="m-contact-box-link-list-item [ u-margin-right-2 ]"><a class="[ u-image-svg-clickable ]" target="_blank"
          href="https://www.linkedin.com/in/kellyjmccann/">
          <svg class="[ u-image-icon ]" alt="linkedin logo" width="200" height="200" viewBox="0 0 200 200" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M107.24 88.9148C107.24 88.9148 107.974 74.9634 107.24 74.2291C105.965 72.954 98.2895 74.2291 92.5543 74.2291C86.8192 74.2291 78.6029 73.4948 77.8686 74.2291C76.7076 75.3901 77.8686 103.766 77.8686 122.692C77.8686 142.765 77.1343 173.624 77.8686 174.092C78.6029 174.56 108.709 175.561 109.443 174.826C110.177 174.092 109.443 149.317 109.443 132.972C109.443 125.516 108.974 116.224 109.443 113.881C111.646 102.866 118.648 98.4665 127.8 99.1948C134.946 99.7636 139.549 100.663 142.486 110.209C144.173 115.691 143.889 119.16 143.954 124.895C144.176 144.394 142.486 174.092 143.22 174.826C143.954 175.561 152.842 174.603 159.007 174.459C165.173 174.316 174.06 174.826 174.794 174.092C175.529 173.358 174.06 141.049 174.06 119.755C174.06 107.695 176.345 99.4009 170.389 88.9148C161.082 72.5315 142.071 68.9892 124.863 74.2291C114.923 77.2559 107.24 88.9148 107.24 88.9148Z"
              fill="#021F25" />
            <path
              d="M28.6714 74.2291C27.8604 74.2291 27.2029 74.8866 27.2029 75.6977C27.2029 76.432 27.7013 82.9925 27.9371 88.1806C28.6714 104.335 27.2029 173.138 27.9371 173.358C28.6714 173.578 41.8261 174.691 50.7 174.092C53.5753 173.898 57.5775 173.463 58.0429 173.358C58.5083 173.252 60.004 138.005 59.5115 115.349C58.7772 81.572 58.2195 75.8743 57.3086 74.9634C56.5743 74.2291 51.0753 73.9652 47.0286 74.2291C39.5667 74.7158 30.8743 74.2291 28.6714 74.2291Z"
              fill="#021F25" />
            <path
              d="M61.7143 43.3891C60.98 53.6691 53.4698 61.024 43.3572 61.7463C33.0772 62.4805 25 53.5275 25 43.3891C25 33.2507 33.2385 24.3995 43.3572 25.0319C55.1057 25.7662 62.4367 33.2765 61.7143 43.3891Z"
              fill="#021F25" />
          </svg>



        </a></li>
    </ul> -->
  </div>
</div>