<div class="m-ethos [ u-border-dashed-bottom-dt ]">
  <div
    class="m-ethos-block [ u-background-color-lt-green u-border-dashed-right-dt u-padding-left-2-max-content u-padding-top-4 u-padding-bottom-4 ]">
    <div class="m-ethos-block-content m-ethos-block-content-1 [ u-padding-2 u-padding-right-4 ]">
      <h2 class="[ u-font-size-5-dt u-font-size-4-mb u-margin-bottom-3 ]">Recent Blog Posts:</h2>
      <ul class="m-ethos-block-list m-ethos-blog-poss [ u-box-drop-square u-padding-2 u-margin-top-2 ]">
        <li class="m-ethos-block-list-item [ u-margin-top-1 u-margin-bottom-2 ]">
          <a href="https://thoughtbot.com/blog/user-testing-for-healthcare" target="_blank">User Testing for
            Healthcare</a>
        </li>
        <li class="m-ethos-block-list-item [ u-margin-top-1 u-margin-bottom-2 ]"><a
            href="https://thoughtbot.com/blog/impact-effort-matrices-they-re-awesome-and-you-can-too-title-in-progress"
            target="_blank">How to prioritize work after a Product Design Sprint using an Impact/Effort Matrix</a></li>
      </ul>
    </div>
  </div>
  <div
    class="m-ethos-block [ u-border-dashed-bottom-mb u-background-color-pr-purple u-padding-right-2-max-content u-padding-left-2-mb u-padding-right-2-mb u-padding-top-4 u-padding-bottom-4 ]">
    <div class="m-ethos-block-content m-ethos-block-content-2 [ u-padding-2 u-padding-left-4-dt ]">
      <h2 class="[ u-font-size-5-dt u-font-size-4-mb u-margin-bottom-3 ]">Design Ethos:</h2>
      <ul class="m-ethos-block-list">
        <li class="m-ethos-block-list-item [ u-margin-top-1 u-margin-bottom-1 u-margin-top-1 u-margin-bottom-2 ]">Work
          on projects that do the world some
          good.</li>
        <li class="m-ethos-block-list-item [ u-margin-top-1 u-margin-bottom-1 u-margin-top-1 u-margin-bottom-2 ]">An
          uninformed design is almost surely a
          bad design. Research pays off.</li>
        <li class="m-ethos-block-list-item [ u-margin-top-1 u-margin-bottom-1 u-margin-top-1 u-margin-bottom-2 ]">
          Perfection is the enemy of progress.
        </li>
        <li class="m-ethos-block-list-item [ u-margin-top-1 u-margin-bottom-1 u-margin-top-1 u-margin-bottom-2 ]"></li>
        Designers don't need to code, but when they can it's pretty darn handy.</li>
        <li class="m-ethos-block-list-item [ u-margin-top-1 u-margin-bottom-1 u-margin-top-1 u-margin-bottom-2 ]">
          Follow curiousity. Always be learning.
        </li>
      </ul>
    </div>
  </div>
</div>