<div class="m-industries [ u-border-dashed-top u-border-dashed-bottom u-background-color-lt-green u-padding-top-1 u-padding-bottom-1 ]">
  <ul class="m-industries-list [ u-background-color-black u-color-white u-font-size-5 ]">
    <li class="[ u-margin-left-1 u-margin-right-1 ]">edTech</li>
    <li class="[ u-margin-left-1 u-margin-right-1 ]">B2B</li>
    <li class="[ u-margin-left-1 u-margin-right-1 ]">eCommerce</li>
    <li class="[ u-margin-left-1 u-margin-right-1 ]">bioTech</li>
    <li class="[ u-margin-left-1 u-margin-right-1 ]">Saas</li>
    <li class="[ u-margin-left-1 u-margin-right-1 ]">B2C</li>
    <li class="[ u-margin-left-1 u-margin-right-1 ]">Media</li>
    <li class="[ u-margin-left-1 u-margin-right-1 ]">Heath Care</li>
    <li class="[ u-margin-left-1 u-margin-right-1 ]">Finance</li>
    <li class="[ u-margin-left-1 u-margin-right-1 ]">edTech</li>
    <li class="[ u-margin-left-1 u-margin-right-1 ]">B2B</li>
    <li class="[ u-margin-left-1 u-margin-right-1 ]">eCommerce</li>
    <li class="[ u-margin-left-1 u-margin-right-1 ]">bioTech</li>
    <li class="[ u-margin-left-1 u-margin-right-1 ]">Saas</li>
    <li class="[ u-margin-left-1 u-margin-right-1 ]">B2C</li>
    <li class="[ u-margin-left-1 u-margin-right-1 ]">Media</li>
    <li class="[ u-margin-left-1 u-margin-right-1 ]">Heath Care</li>
    <li class="[ u-margin-left-1 u-margin-right-1 ]">Finance</li>
  </ul>
</div>