<div class="m-line-item [ u-margin-bottom-6 ]">
  <div class="m-line-item-container [ u-top-left-border-radius-large u-bottom-left-border-radius-large u-padding-3 u-margin-left-4 ]">
    <div class="m-line-item-content [ u-padding-left-3-dt u-padding-right-3-dt ]">
      <div class="m-line-item-title-container">
        <h2 class="m-line-item-title [ u-font-size-5 u-margin-right-1 ]">Product Strategy</h2>
        <img class="m-line-item-emoji" src="../images/emojis/clipboard.png">
      </div>
      <div class="m-line-item-content-container  [ u-margin-top-3 u-margin-left-3-mb u-margin-left-7-dt ]">
        <h4 class="[ u-margin-top-3 u-margin-bottom-3 u-font-size-3 ]">Some of my favorite tools:</h4>
        <div class="m-line-item-tool-container">
          <img class="m-line-item-tool-emoj" src="../images/emojis/woman-running.png">
          <p class="m-line-item-tool-nam">Product Design Sprints (here's an example of my recent work)</p>
          <a class="m-line-item-tool-example-link" href="#">here</a>
          <img class="m-line-item-tool-emoji" src="../images/emojis/scales.png">
          <p class="m-line-item-tool-nam">McKinsey's Impact/Effort Mapping (here's my handy template for remote teams)</p>
          <a class="m-line-item-tool-example-link" href="#">here</a>
          <img class="m-line-item-tool-emoji" src="../images/emojis/memo.png">
          <p class="m-line-item-tool-nam">User Testing (here's an example of my recent work)</p>
          <a class="m-line-item-tool-example-link" href="#">here</a>
          <img class="m-line-item-tool-emoji" src="../images/emojis/chart-upwards.png">
          <p class="m-line-item-tool-nam">Tools like Fullstory, Hotjar, and Google Analytics (how I levereged these tools when user testing wasn't possible)</p>
          <a class="m-line-item-tool-example-link" href="#">here</a>
          <img class="m-line-item-tool-emoji" src="../images/emojis/chart-upwards.png">
          <p class="m-line-item-tool-nam">A/B testing & user surveys</p>
          <a class="m-line-item-tool-example-link" href="#">here</a>
        </div>
      </div>
      
    </div>
  </div>
</div>