<!-- note: data-modal-close-class doesn't support more than one class name -->

<div id="primary-nav" class="m-modal-box-drop [ u-box-drop-square u-margin-2 ]" data-modal data-modal-hide-heading
  data-modal-close="
  <span class='[ u-font-size-3 u-font-family-body ]'>Close</span>" data-modal-close-class="m-modal__close-button">
  <h1>Menu</h1>
  <nav class="m-modal__content m-mobile-nav" aria-label="Primary">
    <ul class="m-mobile-nav__list [ u-padding-bottom-7 ]">
      <li>
        <a class="m-mobile-nav-link [ u-font-size-3 ]" href="#welcome"><img class="m-mobile-nav-logo"
            alt="Kelly McCann logo" src="../images/brand-core/logo.svg"></a>
      </li>
      <li>
        <a class="m-mobile-nav-link [ u-font-size-3 ]" href="#about">about</a>
      </li>
      <li>
        <a class="m-mobile-nav-link [ u-font-size-3 ]" href="#work">work</a>
      </li>
      <li>
        <a class="m-mobile-nav-link [ u-font-size-3 ]" href="#contact">contact</a>
      </li>
      <li>
        <a class="m-mobile-nav-link [ u-font-size-3 ]" href="../images/brand-core/kellymccann-CV.pdf" download>CV
          download</a>
      </li>
    </ul>
  </nav>
</div>