<div id="primary-nav" class="m-modal [ u-box-drop-square u-margin-2 ]" data-modal data-modal-hide-heading
  data-modal-close="<img class='m-modal-close-icon' src='../images/emojis/popping-cork.png'><span class='u-hide-visually'>Close</span>"
  data-modal-close-class="m-modal__button">
  <nav class="m-modal__content m-mobile-nav" aria-label="Primary">
    <ul class="m-mobile-nav__list">
      <li>
        <a class="[ u-font-size-3 ]" href="#">about</a>
      </li>
      <li>
        <a class="[ u-font-size-3 ]" href="#">work</a>
      </li>
      <li>
        <a class="[ u-font-size-3 ]" href="#">contact</a>
      </li>
      <li>
        <a class="[ u-font-size-3 ]" href="#">CV</a>
      </li>
    </ul>
  </nav>
</div>