<!-- todo: these items should be wrapped in a list, not sure what happened here... -->
<nav
  class="m-nav [ u-hide-visually-mb u-full-screen u-margin-left-2 u-margin-right-2 u-background-color-white u-outline-bottom-line-shadow ]">
  <div class="m-nav-links-container [ u-max-width-content-narrow ]">
    <a class="m-nav-link"><img alt="KM (Kelly McCann)Initials logo" class="[ u-padding-left-2-max-content ]"
        src="../images/brand-core/logo-initials.svg"></a>

    <ul class="m-nav-items [ u-margin-left-2 ]">
      <li>
        <a class="m-nav-link" href="#about"><span
            class="m-nav-link-span [ u-padding-left-1 u-padding-right-1 ]">about</span>
          <span class="m-nav-link-underline"></span>
        </a>
      </li>
      <li>
        <a class="m-nav-link" href="#work"><span
            class="m-nav-link-span [ u-padding-left-1 u-padding-right-1 ]">work</span>
          <span class="m-nav-link-underline"></span>
        </a>
      </li>
      <li>
        <a class="m-nav-link" href="#contact"><span
            class="m-nav-link-span [ u-padding-left-1 u-padding-right-1 ]">contact</span>
          <span class="m-nav-link-underline"></span>
        </a>
      </li>
      <li>
        <a class="m-nav-link" href="#cv"><span class="m-nav-link-span [ u-padding-left-1 u-padding-right-1 ]">CV</span>
          <span class="m-nav-link-underline"></span>
        </a>
      </li>
    </ul>
  </div>

</nav>

<button class="m-nav-mobile-button [ u-button u-button-box-drop u-box-drop-square-blue-drop u-display-none-dt ]"
  type="button" data-modal-open="primary-nav">
  <span></span>
  <img class='m-modal-close-icon' src='../images/brand-core/hamburger.svg'>
  <span class='u-hide-visually'>Navigation</span>
</button>

<%= partial "partials/mobile-nav" %>

<script>
  $(".m-mobile-nav-link").click(function () {
    $("#primary-nav").prop('hidden', true);
  })
</script>