<div
  class="m-nav [ u-full-screen u-margin-left-2 u-margin-right-2 u-background-color-white u-outline-bottom-line-shadow ]">
  <div class="m-nav-links-container [ u-max-width-content-narrow ]">
    <a class="m-nav-link"><img alt="kelz logo" class="[ u-image-icon ]" src="../images/emojis/lotus-position.png"></a>

    <div class="m-nav-items [ u-margin-left-2 ]">
      <a class="m-nav-link"><span class="m-nav-link-span [ u-padding-left-1 u-padding-right-1 ]">about</span></a>
      <a class="m-nav-link"><span class="m-nav-link-span [ u-padding-left-1 u-padding-right-1 ]">work</span></a>
      <a class="m-nav-link"><span class="m-nav-link-span [ u-padding-left-1 u-padding-right-1 ]">contact</span></a>
      <a class="m-nav-link"><span class="m-nav-link-span [ u-padding-left-1 u-padding-right-1 ]">CV</span></a>
    </div>

  </div>


</div>