<div class="m-nav [ u-full-screen u-padding-left-2 u-padding-right-2 ]">
  <div class="m-nav-links-container [ u-max-width-content-narrow ]">
    <a class="m-nav-link"><img alt="kelz logo" class="[ u-image-icon ]" src="../images/emojis/lotus-position.png"></a>

    <div class="m-nav-items [ u-margin-left-2 ]">
      <a class="m-nav-link"><span class="m-nav-link-span">about</span></a>
      <a class="m-nav-link"><span class="m-nav-link-span">work</span></a>
      <a class="m-nav-link"><span class="m-nav-link-span">contact</span></a>
      <a class="m-nav-link"><span class="m-nav-link-span">CV</span></a>
    </div>

  </div>


</div>