<div class="m-skills [ u-margin-top-3 u-margin-bottom-4 ]">
  <h2 class="m-skills-title [ u-font-size-6 ]"><span class="[ u-text-align-no-wrap ]">Skills on</span> Deck:</h2>
  <div class="m-skills-item-group [ u-margin-left-5-dt u-margin-top-3-mb ]">
    <div class="m-skills-item">
      <!-- don't apply margin top to first item -->
      <h3 class="m-skills-item-title [ u-font-size-5-dt u-font-size-4-mb ]">Design</h3>
      <ul class="m-skills-list">
        <li class="m-skills-list-item [ u-margin-right-3 u-margin-top-2 ]"><img
            class="m-skills-list-item-icon [ u-margin-right-2 u-image-icon ]" alt="skill representation icon"
            src="../images/shapes/T4.svg"> UX (User
          Experience)</li>
        <li class="m-skills-list-item [ u-margin-right-3 u-margin-top-2 ]"><img
            class="m-skills-list-item-icon [ u-margin-right-2 u-image-icon ]" alt="skill representation icon"
            src="../images/shapes/Rt2.svg">UI (User
          Interface)</li>
        <li class="m-skills-list-item [ u-margin-right-3 u-margin-top-2 ]"><img
            class="m-skills-list-item-icon [ u-margin-right-2 u-image-icon ]" alt="skill representation icon"
            src="../images/shapes/D1.svg">Visual
          Design</li>
        <li class="m-skills-list-item [ u-margin-right-3 u-margin-top-2 ]"><img
            class="m-skills-list-item-icon [ u-margin-right-2 u-image-icon ]" alt="skill representation icon"
            src="../images/shapes/St3.svg">Design
          Thinking</li>
        <li class="m-skills-list-item [ u-margin-right-3 u-margin-top-2 ]"><img
            class="m-skills-list-item-icon [ u-margin-right-2 u-image-icon ]" alt="skill representation icon"
            src="../images/shapes/U2.svg">Sketch, Figma, Invision, etc.</li>
      </ul>
    </div>
    <div class="m-skills-item">
      <h3 class="m-skills-item-title [ u-font-size-5-dt u-font-size-4-mb u-margin-bottom-1 u-margin-top-6 ]">Design
        Research</h3>
      <ul class="m-skills-list">
        <li class="m-skills-list-item [ u-margin-right-3 u-margin-top-2 ]"><img
            class="m-skills-list-item-icon [ u-margin-right-2 u-image-icon ]" alt="skill representation icon"
            src="../images/shapes/C1.svg">User Testing
        </li>
        <li class="m-skills-list-item [ u-margin-right-3 u-margin-top-2 ]"><img
            class="m-skills-list-item-icon [ u-margin-right-2 u-image-icon ]" alt="skill representation icon"
            src="../images/shapes/H1.svg">Personas
        </li>
        <li class="m-skills-list-item [ u-margin-right-3 u-margin-top-2 ]"><img
            class="m-skills-list-item-icon [ u-margin-right-2 u-image-icon ]" alt="skill representation icon"
            src="../images/shapes/Rt1.svg">Journey
          Mapping</li>
      </ul>
    </div>
    <div class="m-skills-item">
      <h3 class="m-skills-item-title [ [ u-font-size-5-dt u-font-size-4-mb ] u-margin-bottom-1 u-margin-top-6 ]">Code
      </h3>
      <ul class="m-skills-list">
        <li class="m-skills-list-item [ u-margin-right-3 u-margin-top-2 ]"><img
            class="m-skills-list-item-icon [ u-margin-right-2 u-image-icon ]" alt="skill representation icon"
            src="../images/shapes/Sm1.svg">HTML/CSS/Sass</li>
        <li class="m-skills-list-item [ u-margin-right-3 u-margin-top-2 ]"><img
            class="m-skills-list-item-icon [ u-margin-right-2 u-image-icon ]" alt="skill representation icon"
            src="../images/shapes/U4.svg">Git (enough to get by)
        </li>
        <li class="m-skills-list-item [ u-margin-right-3 u-margin-top-2 ]"><img
            class="m-skills-list-item-icon [ u-margin-right-2 u-image-icon ]" alt="skill representation icon"
            src="../images/shapes/D3.svg">Javascript (enough to get by)
        </li>
        <li class="m-skills-list-item [ u-margin-right-3 u-margin-top-2 ]"><img
            class="m-skills-list-item-icon [ u-margin-right-2 u-image-icon ]" alt="skill representation icon"
            src="../images/shapes/C3.svg">Whatever you
          need me to do. (I
          recently worked on a React Native project. Lately I've been studying up on
          Elm
          in my spare time.)</li>
      </ul>
    </div>
    <div class="m-skills-item">
      <h3 class="m-skills-item-title [ [ u-font-size-5-dt u-font-size-4-mb ] u-margin-bottom-1 u-margin-top-6 ]">
        Product/Project Strategy</h3>
      <ul class="m-skills-list">
        <li class="m-skills-list-item [ u-margin-right-3 u-margin-top-2 ]"><img
            class="m-skills-list-item-icon [ u-margin-right-2 u-image-icon ]" alt="skill representation icon"
            src="../images/shapes/R3.svg">Group
          Facilitation (I've run many-a
          Product Design Sprint)</li>
        <li class="m-skills-list-item [ u-margin-right-3 u-margin-top-2 ]"><img
            class="m-skills-list-item-icon [ u-margin-right-2 u-image-icon ]" alt="skill representation icon"
            src="../images/shapes/St1.svg">Project Leadership
        </li>
        <li class="m-skills-list-item [ u-margin-right-3 u-margin-top-2 ]"><img
            class="m-skills-list-item-icon [ u-margin-right-2 u-image-icon ]" alt="skill representation icon"
            src="../images/shapes/T2.svg">Customer
          Engagement</li>
        <li class="m-skills-list-item [ u-margin-right-3 u-margin-top-2 ]"><img
            class="m-skills-list-item-icon [ u-margin-right-2 u-image-icon ]" alt="skill representation icon"
            src="../images/shapes/Sm2.svg">A/B Testing
        </li>
      </ul>
    </div>

  </div>

</div>