<div class="m-skills [ u-margin-top-2-mb u-margin-top-3-dt u-margin-bottom-4 ]">
  <h2 class="m-skills-title [ u-font-size-6 ]">Skills on Deck:</h2>
  <div class="m-skills-item-group [ u-margin-left-3-dt u-margin-top-3-mb ]">
    <div class="m-skills-item">
      <!-- don't apply margin top to first item -->
      <h3 class="m-skills-item-title [ u-font-size-5  u-margin-bottom-1 ]">Design</h3>
      <ul>
        <li class="m-skills-list-item"><img class="m-skills-list-item-icon [ u-margin-right-2 u-image-icon ]"
            alt="skill representation icon" src="../images/shapes/Sq3.png"> UX (User
          Experience)</li>
        <li class="m-skills-list-item"><img class="m-skills-list-item-icon [ u-margin-right-2 u-image-icon ]"
            alt="skill representation icon" src="../images/shapes/Rect2.png">UI (User
          Interface)</li>
        <li class="m-skills-list-item"><img class="m-skills-list-item-icon [ u-margin-right-2 u-image-icon ]"
            alt="skill representation icon" src="../images/shapes/U3.png">Visual
          Design</li>
        <li class="m-skills-list-item"><img class="m-skills-list-item-icon [ u-margin-right-2 u-image-icon ]"
            alt="skill representation icon" src="../images/shapes/Tri1.png">Design
          Thinking</li>
        <li class="m-skills-list-item"><img class="m-skills-list-item-icon [ u-margin-right-2 u-image-icon ]"
            alt="skill representation icon" src="../images/shapes/Dia1.png">Sketch, Figma, Invision, etc.</li>
      </ul>
    </div>
    <div class="m-skills-item">
      <h3 class="m-skills-item-title [ u-font-size-5  u-margin-bottom-1 u-margin-top-2 ]">Design Research</h3>
      <ul>
        <li class="m-skills-list-item"><img class="m-skills-list-item-icon [ u-margin-right-2 u-image-icon ]"
            alt="skill representation icon" src="../images/shapes/Cir1.png">User Testing
        </li>
        <li class="m-skills-list-item"><img class="m-skills-list-item-icon [ u-margin-right-2 u-image-icon ]"
            alt="skill representation icon" src="../images/shapes/Hex1.png">Personas
        </li>
        <li class="m-skills-list-item"><img class="m-skills-list-item-icon [ u-margin-right-2 u-image-icon ]"
            alt="skill representation icon" src="../images/shapes/Rec1.png">Journey
          Mapping</li>
      </ul>
    </div>
    <div class="m-skills-item">
      <h3 class="m-skills-item-title [ u-font-size-5  u-margin-bottom-1 u-margin-top-2 ]">Code</h3>
      <ul>
        <li class="m-skills-list-item"><img class="m-skills-list-item-icon [ u-margin-right-2 u-image-icon ]"
            alt="skill representation icon" src="../images/shapes/Semi1.png">HTML</li>
        <li class="m-skills-list-item"><img class="m-skills-list-item-icon [ u-margin-right-2 u-image-icon ]"
            alt="skill representation icon" src="../images/shapes/Star1.png">CSS/Sass
        </li>
        <li class="m-skills-list-item"><img class="m-skills-list-item-icon [ u-margin-right-2 u-image-icon ]"
            alt="skill representation icon" src="../images/shapes/U1.png">Git (enough to get by)
        </li>
        <li class="m-skills-list-item"><img class="m-skills-list-item-icon [ u-margin-right-2 u-image-icon ]"
            alt="skill representation icon" src="../images/shapes/Dia3.png">Javascript(enough to get by)
        </li>
        <li class="m-skills-list-item"><img class="m-skills-list-item-icon [ u-margin-right-2 u-image-icon ]"
            alt="skill representation icon" src="../images/shapes/Cir3.png">Whatever you
          need me to do. (I
          recently worked on a React Native project. Lately I've been studying up on
          Elm
          in my spare time.)</li>
      </ul>
    </div>
    <div class="m-skills-item">
      <h3 class="m-skills-item-title [ u-font-size-5  u-margin-bottom-1 u-margin-top-2 ]">Product Strategy</h3>
      <ul>
        <li class="m-skills-list-item"><img class="m-skills-list-item-icon [ u-margin-right-2 u-image-icon ]"
            alt="skill representation icon" src="../images/shapes/Hex3.png">Group
          Facilitation (I've ran many-a
          Product Design Sprint)</li>
        <li class="m-skills-list-item"><img class="m-skills-list-item-icon [ u-margin-right-2 u-image-icon ]"
            alt="skill representation icon" src="../images/shapes/rt2.png">Customer
          Engagement</li>
        <li class="m-skills-list-item"><img class="m-skills-list-item-icon [ u-margin-right-2 u-image-icon ]"
            alt="skill representation icon" src="../images/shapes/Semi3.png">A/B Testing
        </li>
      </ul>
    </div>

  </div>

</div>