<div class="m-welcome [ u-padding-top-6-bs u-padding-top-3-mb ]">
    <div class="m-welcome-title [ u-box-drop-square ]">
        <div>
            <img class="m-welcome-title-image [ u-image-icon u-margin-left-1 u-margin-top-2 ]"
                src="../images/emojis/memo.png" alt="simple illustration of my work">
        </div>
        <h2 class="m-welcome-title-text [ u-font-size-1 u-line-height-looser  u-margin-left-6-mb ]">Kelly McCann,
            Product Designer,
            Strategist + Various Hat-Wearer</h2>
    </div>
    <div class="m-welcome-text-container [ ]">


        <!-- <img class="m-welcome-emoji-wave" src="../images/emojis/waving-hand.png"> -->
        <h1 class="m-welcome-header [ u-font-size-5 u-margin-bottom-4-bs ]">
            <span class="m-welcome-header-line [ u-line-height-loosest ]">I strategize,</span>
            <span class="m-welcome-header-line [ u-line-height-loosest ]">design,</span>
            <span class="m-welcome-header-line [ u-line-height-loosest ]">and build</span>
            <span class="m-welcome-header-line [ u-line-height-loosest ]">beautiful products that scale.</span>
        </h1>
        <!-- <p class="m-welcome-subtext [ u-line-height-looser u-margin-left-2 ]">I'm Kelly, a product designer and
                strategist in Boston. I'm a consultant at <a href="thoughtbot.com" target="_blank">thoughtbot</a> and I
                help companies conceptualize and build beautiful, functional & scalable products.</p> -->


    </div>
</div>