<div class="m-welcome [ u-full-screen u-max-width-content-narrow ]">
    <div class="m-welcome-title [ u-border-drop-square ]">
        <div>
            <img class="m-welcome-title-image [ u-image-icon u-margin-left-1 ]" src="../images/emojis/memo.png"
                alt="simple illustration of my work">
        </div>
        <h2 class="m-welcome-title-text [ u-font-size-1 u-line-height-looser ]">Kelly McCann, Product Designer +
            Strategist</h2>
    </div>
    <div class="m-welcome-text-container [ u-margin-left-4 ]">


        <!-- <img class="m-welcome-emoji-wave" src="../images/emojis/waving-hand.png"> -->
        <h1 class="m-welcome-header [ u-font-size-5 ]">
            <span class="m-welcome-header-line">I strategize,</span>
            <span class="m-welcome-header-line">design,</span>
            <span class="m-welcome-header-line">and build</span>
            <span class="m-welcome-header-line">beautiful products that scale.</span>
        </h1>
        <!-- <p class="m-welcome-subtext [ u-line-height-looser u-margin-left-2 ]">I'm Kelly, a product designer and
                strategist in Boston. I'm a consultant at <a href="thoughtbot.com" target="_blank">thoughtbot</a> and I
                help companies conceptualize and build beautiful, functional & scalable products.</p> -->


    </div>
</div>