<div id="welcome" class="m-welcome [ u-padding-top-3-dt ]">
    <div class="m-welcome-title [ u-box-drop-square u-margin-top-2-mb u-margin-top-5-dt ]">
        <div>
            <img class="m-welcome-title-image [ u-image-icon u-margin-left-1 u-margin-top-2 ]"
                src="../images/shapes/Star3.png" alt="simple illustration of my work">
        </div>
        <h2 class="m-welcome-title-text [ u-font-size-1 u-line-height-loose u-margin-left-7-mb u-padding-1 ]">
            Kelly McCann<br>
            Product Designer, Developer &
            Strategist</h2>
    </div>
    <h1
        class="m-welcome-header [ u-font-size-7-dt u-font-size-6-mb u-margin-top-3 u-margin-bottom-3-dt u-margin-bottom-4-mb ]">
        <span class="m-welcome-header-line [ u-line-height-loose ]">I strategize, design & build</span>
        <!-- <span class="m-welcome-header-line [ u-line-height-looser ]">design,</span>
        <span class="m-welcome-header-line [ u-line-height-looser ]">and build</span> -->
        <span class="m-welcome-header-line [ u-line-height-loose ]">beautiful products that scale.</span>
    </h1>
</div>