<div class="m-work [ u-margin-top-3-dt u-margin-bottom-4 ]">
  <div class="m-work-title [ u-padding-2 ]">
    <h2 class="m-work-title-header [ u-font-size-6 ]">Featured Work:</h2>
    <p class="m-work-title-blurb [ u-padding-left-5-dt u-margin-bottom-1-dt u-margin-top-2-mb ]">Hiya, friend! So glad
      that you're
      interested in my work.<br>I'm only able to show a couple things publicly at this time. Please <a
        href="mailto:kellymccann91@gmail.com">reach
        out</a> to see other top-secret projects I've worked on (which include mobile and enterprise desktop apps)! </p>
  </div>
  <div class="m-work-items-container">
    <div class="m-work-items">
      <!-- first box -->
      <div class="m-work-item m-work-item-first [ u-box u-box--large u-box--deep u-box--red ]">
        <div class="[ u-box-top ]"></div>
        <button id="show-cb-modal" type="button" class="m-work-item-content [ u-box-main u-background-color-white ]">
          <div class="[ u-box-right ]">
          </div>
          <div class="m-work-grid [ u-padding-2 ]">
            <div class="m-work-item-img-container [ u-box-centered ]">
              <img class="m-work-item-img [ u-border-dashed ]"
                src="../images/case-studies/life-sciences-social/teaser.png">
            </div>
            <h3
              class="m-work-item-context-title [ u-font-size-5-dt u-font-size-4-mb u-margin-right-2 u-text-align-left ]">
              Life Sciences Mobile App
            </h3>
            <p class="m-work-item-context-blurb [ u-margin-right-2 u-text-align-left ]">Conduct two Product Design
              Sprints and rapidly develop a mobile social application for the life sciences industry.</p>
          </div>
        </button>
      </div>
      <%= partial "partials/case-study-seniorlink" %>
      <!-- end first box -->
      <!-- second box -->
      <div
        class="m-work-item m-work-item-second [ u-margin-top-1-mb u-margin-right-2-mb u-box u-box--medium u-box--shallow u-box--blue ]">
        <div class="[ u-box-top ]"></div>
        <button id="show-rld-modal" type="button" class="m-work-item-content [ u-box-main u-background-color-white ]">
          <div class="[ u-box-right ]">
          </div>
          <div class="m-work-grid [ u-padding-2 ]">
            <div class="m-work-item-img-container [ u-box-centered ]">
              <img class="m-work-item-img [ u-border-dashed ]" src="../images/case-studies/rld/codepen1.png">
            </div>
            <h3
              class="m-work-item-context-title [ u-font-size-5-dt u-font-size-4-mb u-margin-right-2 u-text-align-left ]">
              Richline Digital
            </h3>
            <p class="m-work-item-context-blurb [ u-margin-right-2 u-text-align-left ]">Design
              product feed pages and filters with cross-brand compatibility.</p>
          </div>
        </button>
        <%= partial "partials/case-study-rld" %>
      </div>
      <!-- end second box -->
      <!-- third box -->
      <div
        class="m-work-item m-work-item-third [ u-margin-top-1-mb u-margin-right-2-mb u-box u-box--large u-box--shallow u-box--green ]">
        <div class="[ u-box-top ]"></div>
        <button id="show-seniorlink-modal" type="button"
          class="m-work-item-content [ u-box-main u-background-color-white ]">
          <div class="[ u-box-right ]"></div>
          <div class="m-work-grid [ u-padding-2 ]">
            <div class="m-work-item-img-container [ u-box-centered ]">
              <img class="m-work-item-img [ u-border-dashed ]"
                src="../images/case-studies/seniorlink/partners-card.png">
            </div>
            <h3
              class="m-work-item-context-title [ u-font-size-5-dt u-font-size-4-mb u-margin-right-2 u-text-align-left ]">
              Seniorlink</h3>
            <p class="m-work-item-context-blurb [ u-margin-right-2 u-text-align-left ]">Strategize, design, and build a
              modular marketing
              site inside the
              Hubspot
              CMS.</p>
          </div>
        </button>
        <%= partial "partials/case-study-cb" %>
      </div>
      <!-- end third box -->
    </div>
  </div>
</div>

<script>
  $("#show-seniorlink-modal").click(function () {
    $("#case-study-seniorlink").removeAttr('hidden');
  })
  $("#show-rld-modal").click(function () {
    $("#case-study-rld").removeAttr('hidden');
  })
  $("#show-cb-modal").click(function () {
    $("#case-study-cb").removeAttr('hidden');
  })
</script>