<div class="m-work [ u-margin-top-6-mb ]">
  <div class="m-work-title">
    <h2 class="m-work-title-header [ u-font-size-5 ]">Work</h2>
    <p class="m-work-title-blurb">Hiya, friend! So glad that you're interested in my work. Below is an (admittedly
      meager) selection of my public work. Please <a href="#">reach out</a> to see more of my top-secreat stuff.</p>
  </div>
  <div class="m-work-items">
    <div class="m-work-item-faux-before"></div>
    <div class="m-work-item">
      <img src="../images/background/geometry2.png">
      <div class="m-work-item-context">
        <h3 class="m-work-item-context-title">Seniorlink</h3>
        <p class="m-work-item-context-blurb">Strategize, design, and build a modular marketing site inside the Hubspot
          CMS</p>
        <ul class="m-work-item-context-skills">
          <li class="m-work-item-context-skill"><img class="[ u-image-icon-xsmall ]"
              src="../images/emojis/wine-glass.png"> Project Lead</li>
          <li class="m-work-item-context-skill"><img class="[ u-image-icon-xsmall ]"
              src="../images/emojis/wine-glass.png"> Product Design Sprint</li>
          <li class="m-work-item-context-skill"><img class="[ u-image-icon-xsmall ]"
              src="../images/emojis/wine-glass.png"> Product Strategy</li>
          <li class="m-work-item-context-skill"><img class="[ u-image-icon-xsmall ]"
              src="../images/emojis/wine-glass.png"> User Research</li>
          <li class="m-work-item-context-skill"><img class="[ u-image-icon-xsmall ]"
              src="../images/emojis/wine-glass.png"> Visual Design</li>
          <li class="m-work-item-context-skill"><img class="[ u-image-icon-xsmall ]"
              src="../images/emojis/wine-glass.png"> UX/UI Design</li>
          <li class="m-work-item-context-skill"><img class="[ u-image-icon-xsmall ]"
              src="../images/emojis/wine-glass.png"> Code</li>
        </ul>
      </div>
      <div class="m-work-item-faux-after"></div>
    </div>
  </div>


</div>