<!-- note: data-modal-close-class doesn't support more than one class name -->
<div hidden id="case-study-seniorlink" class="m-modal-box-drop [ u-box-drop-square u-margin-2 ]" data-modal
  data-modal-hide-heading data-modal-close="<span class='[ u-font-size-3 u-font-family-body ]'>Close</span>"
  data-modal-close-class="m-modal__close-button">
  <div class="m-modal__content" aria-label="Primary">
    <h1>Seniorlink Project</h1>
    <h2>Here's Seniorlink!</h2>
    <p>here's more seniorlink, not hidden</p>
  </div>
</div>