* :focus {
    outline: transparent auto 0;
    outline-color: transparent;
    outline-style: auto;
    outline-width: 0;
}

a {
    color: $b-pr-blue;

    &:focus,
    &:hover {
        color: $b-pr-purple;
    }
}

button {
    cursor: pointer !important;
}