---
title: Hi Duolingo!
---

<%= partial "partials/nav" %>

<%#  apply core width and margins to content blocks - to remove, add the below individually to independent modules %>


<div class="[ u-max-width-content-narrow u-margin-right-2-max-content u-margin-left-2-max-content ]">
  <%= partial "partials/duo" %>
</div>


