.m-line-item {
  display: flex;
  justify-content: flex-end;

}

.m-line-item-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  min-height: 30vw;
  width: 100%;

//   border-radius: 70px;
// background: #d3ebe7;
box-shadow: 30px 30px 60px #c6c9ce, 
            -30px -30px 60px #ffffff;
  // @extend .u-bkg-gradient-purple-vr;
}

@media screen and (min-width: $max-width-large) {
  .m-line-item-container  {
      margin-left: calc(50vw - 45rem);
  }
}

.m-line-item-title-container {
  align-items: center;
  display: flex;
  width: 100%;
}

.m-line-item-emoji {
  height: 3rem;
}

.m-line-item-title {
  width: max-content;
}

.m-line-item-tool-container {
  display: grid;
  grid-template-columns: 2rem repeat(2, auto);
  grid-template-rows: auto;
}