.m-mobile-nav {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 3rem);
  position: fixed;
  top: 0;
  transform: translate(-4px, -4px);
  width: calc(100vw - 3rem);
}

.m-mobile-nav__container {
  display: flex;
  height: 100%;
}

.m-mobile-nav__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto $spacing-shortest;
}

.m-mobile-nav__list li {
  height: $spacing-big;
}