.m-modal {
  box-shadow: none;
  height: calc(100vh - 3rem);
  position: absolute;
  top: 0;
  width: calc(100vw - 3rem);
  z-index: 100;

  &:focus {
    outline: none;
  }
}

.m-modal-box-drop {
  @extend .m-modal;
  background-color: $n-off-white;
  overflow: visible;
  transform: translate(4px, -4px);
}

.m-modal__content {
  left: 0px;
}

// utility classes not working properly with aria-modal (max class names = 1)
.m-modal__close-button {
  @extend .u-box-drop-square-purple-drop;
  @extend .u-button-box-drop;
  @extend .u-button;
  height: $spacing-medium;
  margin: $spacing-shorter;
  position: absolute;
  right: 0;
  top: 0;
  width: $spacing-medium;
}

