.m-nav {
  height: $spacing-big;
  position: fixed;
  top: 0;
  width: calc(100% - 3rem);
  z-index: 4000;
  @media (min-width: $breakpoint-small) {
    display: block;
  }
}

.m-nav-links-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.m-nav-link {
  max-height: 100%;
  @media (min-width: $breakpoint-small) {
    padding: $spacing-hairline;
  }
}

.m-nav-items {
  align-items: center;
  display: flex;
  justify-content: space-between; 
  width: 90%;
  @media (min-width: $breakpoint-small) {
    min-width: 50%;
    max-width: 24rem; //512px @16
  }
}

.m-nav-link-span {
  min-width: $spacing-bigger;
}

.m-nav-mobile-button {
  background-color: white;
  bottom: 0;
  height: $spacing-medium;
  // $spacing-shorter plus border margin (4px)
  margin: calc(1.5rem + 4px);
  position: fixed;
  right: 0;
  width: $spacing-medium;
}
