.m-nav {
  height: $spacing-big;
  position: fixed;
  top: 0;
  width: calc(100% - 3rem);
  z-index: 4000;
  @media (min-width: $breakpoint-small) {
    display: block;
  }
}

.m-nav-links-container {
  display: flex;
  justify-content: space-between;
  max-height: 100%;
  width: 100%;
}

.m-nav-link {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  text-align: center;
  text-decoration: none;
  @media (min-width: $breakpoint-small) {
    padding: $spacing-hairline;
  }
  &.m-nav-link__logo {
    text-align: left;
    width: 6rem;
  }
  img {
    max-height: 100%;
  }
  &:hover {
    .m-nav-link-underline {
      background-image: url(../../images/background/stripes.svg);
      background-size: 160%;
    }
  }
}

.m-nav-link-underline {
  height: $spacing-hairline;
  width: 100%;
}


.m-nav-items {
  align-items: center;
  display: flex;
  justify-content: space-between; 
  width: 90%;
  @media (min-width: $breakpoint-small) {
    min-width: 50%;
    max-width: 24rem; //512px @16
  }
}

.m-nav-link-span {
  min-width: $spacing-bigger;
}

.m-nav-mobile-button {
  height: $spacing-big;
  // $spacing-shorter plus border margin (4px) to hide while in line w/ modals
  margin: calc(2.5rem + 4px);
  padding: $spacing-hairline $spacing-shortest $spacing-shortest $spacing-hairline;
  position: fixed;
  right: 0;
  top: calc(100vh - 10rem);
  width: $spacing-big;
  z-index: 4000;
}