.m-skills {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  @media (min-width: $breakpoint-small) {
    flex-direction: row;
  }
}

.m-skills-title {
  @media (min-width: $breakpoint-small) {
    width: 16rem;
  }
}

.m-skills-item-group {
  @media (min-width: $breakpoint-small) {
    width: calc(100vw - 16rem)
  }
}

.m-skills-list {
  display: flex;
  flex-wrap: wrap;
}

.m-skills-list-item {
  display: flex;
  align-items: center;
}


