.m-work-title {
  display: flex;
  flex-direction: column;
  @media (min-width: $breakpoint-small) {
    flex-direction: row;
  }
}
.m-work-title-header {
  @media (min-width: $breakpoint-small) {
    max-width: 12rem;
  }
}

.m-work-title-blurb {
  align-self: flex-end;
  
  @media (min-width: $breakpoint-small) {
    max-width: 60%;
  }
}

.m-work-items-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.m-work-items {
  margin-top: $spacing-shorter;
  width: fit-content;

  @media (max-width: $breakpoint-small - 1) {
    display: flex;
    flex-direction: column;
  }
}

.m-work-item {
  max-width: fit-content; //prevents background from overflowing box
}

.m-work-item-second {
  @media (max-width: $breakpoint-small - 1) {
    align-self: flex-end;
  }
  @media (min-width: $breakpoint-small) {
    margin-left: 17rem;
    margin-top: -5rem;
    position: relative;
  }
  @media (min-width: $breakpoint-large) {
    margin-left: 33rem;
    margin-top: -17rem;
  }
}

.m-work-item-content {
  color: $n-black;
  display: flex;
  justify-content: space-around;
  text-decoration: none;
}

.m-work-item-img {
  margin: 0 auto;
  width: 25vh;

  @media (min-width: $breakpoint-small) {
    width: 40%;
  }
}

.m-work-item-skills {
  display: flex;
  flex-wrap: wrap;
}

.m-work-grid {
  display: grid;
  grid-gap: $spacing-shorter;
  grid-template-rows: 3.5rem auto 1fr auto;
  grid-template-columns: 40% 60%;
}
.m-work-item-img {
  grid-column: 1 / 3;
  grid-row: 3 / 4;

  @media (min-width: $breakpoint-small) {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    width: 100%;
  }
}
.m-work-item-context-title {
  grid-column: 1 / 3;
  grid-row: 1 / 2;

  @media (min-width: $breakpoint-small) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
}
.m-work-item-context-blurb {
  grid-column: 1 / 3;
  grid-row: 2 / 3;

  @media (min-width: $breakpoint-small) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
}

.m-work-item-skills {
  grid-column: 1 / 3;
  grid-row: 4 / 5;
  @media (min-width: $breakpoint-small) {
    grid-row: 3 / 4;
  }
}

